<ion-view view-title="尚融" hide-tabs="false">
    <ion-content>
        <ion-slide-box auto-play="true" does-continue="true">
            <ion-slide>
                <a>
                    <img src="./img/home/1.jpg" />
                </a>
            </ion-slide>
            <ion-slide>
                <a>
                    <img src="./img/home/2.jpg" />
                </a>
            </ion-slide>
            <ion-slide>
                <a>
                    <img src="./img/home/3.png" />
                </a>
            </ion-slide>
        </ion-slide-box>
        <div class="hotTitle">
            <h3 class="item-title">
                <span class="ion01">
                    <i class="ion-android-radio-button-off" style="margin-right: 8px;"></i>热门产品
                </span>
            </h3>
        </div>
        <div class="card" style="padding:0 10px;">
            <img src="./img/home/pro01.jpg" width="100%" border="0" height="223"/>
            <div>
                <h3 class="info title">少儿学习计划</h3>
                <p class="IT_summary">
                    建这个楼的目的是希望大家监督我去陪着孩子完成这个计划建这个楼的目的是希望大家监督我去陪着孩子完成这个计划
                </p>
            </div>
        </div>
        <div class="part">
            <ul>
                <li>
                    <a>
                        <div class="card" style="padding:0 5px;">
                            <img src="./img/home/pro01.jpg" width="100%" border="0" height="162"/>
                            <div>
                                <h3 class="info title">少儿学习计划</h3>
                                <p class="tit">
                                    建这个楼的目的是希望大家监督我去陪着孩子完成这个计划建这个楼的目的是希望大家监督我去陪着孩子完成这个计划
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="card" style="padding:0 5px;">
                            <img src="./img/home/pro01.jpg" width="100%" border="0" height="162"/>
                            <div>
                                <h3 class="info title">少儿学习计划</h3>
                                <p class="tit">
                                    建这个楼的目的是希望大家监督我去陪着孩子完成这个计划建这个楼的目的是希望大家监督我去陪着孩子完成这个计划
                                </p>
                            </div>
                    </div>
                </li>
            </ul>
        </div>
        <div style="width:100%;text-align:center;line-height:40px;">
            <a class="btn">更多内容<i></i></a>
        </div>
        <div class="hotTitle">
            <h3 class="item-title">
                <span class="ion02">
                    <i class="ion-android-radio-button-off" style="margin-right: 8px;"></i>行业资讯
                </span>
            </h3>
            <div class="card">
            </div>
        </div>
    </ion-content>
</ion-view>
