<ion-tabs class="tabs-icon-top tabs-color-active-positive {{hideTabs}}">
  <!-- 首页 Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home">
    <ion-nav-view name="app-home"></ion-nav-view>
  </ion-tab>

  <!-- 发现 Tab -->
  <ion-tab title="发现" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/app/find">
    <ion-nav-view name="app-find"></ion-nav-view>
  </ion-tab>

  <!-- 个人中心 Tab -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/my">
    <ion-nav-view name="app-my"></ion-nav-view>
  </ion-tab>

</ion-tabs>
