<ion-tabs class="tabs-icon-top tabs-color-active-positive {{hideTabs}}">
  <!-- 首页 Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home/0">
    <ion-nav-view name="app-home"></ion-nav-view>
  </ion-tab>

  <!-- 发现 Tab -->
  <ion-tab title="发现" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="{{roleId=='WSA'?'#/app/interview/0':'#/app/managerToInterview/0'}}">
    <ion-nav-view name="app-interview" ng-if="roleId=='WSA'"></ion-nav-view>
    <ion-nav-view name="app-managerToInterview" ng-if="roleId=='WDSM'"></ion-nav-view>
  </ion-tab>

  <!-- 个人中心 Tab -->
  <ion-tab title="我的" ng-if="roleId!=='WAGT' || roleId=='WAGT' || roleId=='WDSM'" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/account">
    <ion-nav-view name="app-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
