<ion-view view-title="生成二维码" hide-tabs="true">
	<ion-content scroll="true">
		<div class="list bottom0" ng-Model="cusInfoModel">
			<div class="item card padding-vertical">
				<div class="ub ub-ac padding-vertical border-bottom row-no-padding">
					<div class="col col-30 bold fs14">用户姓名</div>
					<div class="col col-70 bold fs14 sub-ft">
						<input type="text" ng-model="qrModel.userName" placeholder="请输入用户姓名号">
					</div>
				</div>
				<div class="ub ub-ac padding-vertical row-no-padding">
					<div class="col col-30 bold fs14">用户手机号</div>
					<div class="col col-70 bold fs14 sub-ft">
						<input type="tel" ng-model="qrModel.mobile" placeholder="请输入用户手机号">
					</div>
				</div>
                <div class="ub ub-ac padding-vertical row-no-padding">
                    <div class="bold fs14 col col-30">验证码</div>
                    <input class="col" type="number" id="smsCode" placeholder="请输入短信验证码" name="smsCode" ng-model="qrModel.smsCode">
                    <button class="button col col-28 fs14 ft" ng-click="getVerifyCode()" ng-bind="codeContent"></button>
                </div>				
				<label class="item item-select seleFactory">
				    <div class="input-label">选择工厂</div>
				    	<select ng-model="qrModel.factoryName" ng-options="item.factoryName as item.factoryName for item in factoryList">
				    	</select>
				 </label>	
				<label class="item item-select seleFactory">
				    <div class="input-label">内部代码</div>
				    	<select ng-model="qrModel.internalCode" ng-options="item.value as item.text for item in selInterCode">
				    	</select>
				 </label>	
			</div>
			<div class="item card padding-vertical">
				<div class="row row-no-padding padding-vertical">
					<div class="bold fs14">用户合照</div>
					<div class="ub-f1 fs12 ft padding-horizontal">请保持合照清晰</div>
				</div>
				<div class="qr_imgbox ub ub-ac ub-pc" ng-click="showActionSheet('groupPhoto',800,800)">
					<img id="groupPhoto" ng-src="{{imgUrl}}" err-src=""/>
					<i class="icon ion-android-add sub-ft rem2 text-center"></i>
				</div>
			</div>
		</div>
		<div class="padding-horizontal">
			<a ng-click="createQR()" class="button button-block button-default">生成二维码</a>
		</div>
		<div class="fs12 sub-ft text-center">生成二维码会给用户发送一条确认短信</div>
	</ion-content>
</ion-view>