<ion-view view-title="二维码详情" hide-tabs="true">
	<ion-content bindonce scroll="true">
      <div class="qrdet_info ft fs16">
      	<p>用户姓名：<span bo-text="qrInfoModel.userName"></span></p>
      	<div>用户手机号：<span bo-text="qrInfoModel.mobile"></span></div>
      </div>
      <div class="ub ub-ver ub-ac ub-pc qrdet_qrbox">
	      <img width="150" height="150"  lazy-src="{{imgCode}}"/>
	      <div class="qrdet_subtext">请联系用户用微信扫一扫，</div>
	      <div class="qrdet_subtext">关注公众号后按照提示语填写申请资料。</div>
      </div>
		<div class="padding">
			<a href="#/app/home/0" class="button button-block button-default">返回首页</a>
		</div>      
	</ion-content>
</ion-view>