<ion-view view-title="全部产品" hide-tabs="false" hide-nav-bar="true">
    <ion-content>
        <div class="srCard padding">
            <img class="hotPro_bannerImg" src="./img/home/loveChildren.png" width="100%"/>
            <div>
                <div class="hotPro_itemTitle">少儿学生医疗保障计划</div>
                <p class="hotPro_discrible">
                                   专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
                                    让你的小孩成长无忧！
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
