<ion-view view-title="尚融汇" hide-tabs="false" hide-nav-bar="true">
    <ion-content>
        <ion-slide-box auto-play="true" does-continue="true" show-pager="true">
            <ion-slide>
            	<a href="#/app/bannerDetails">
                 <img src="./img/home/banner1.png" />           		
            	</a>
            </ion-slide>
            <ion-slide>
            	<a href="#/app/bannerDetails">
                 <img src="./img/home/banner1.png" />           		
            	</a>
            </ion-slide>
            <ion-slide>
            	<a href="#/app/bannerDetails">
                 <img src="./img/home/banner1.png" />           		
            	</a>
            </ion-slide>
        </ion-slide-box>
        <!--热门产品-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_blue.png"/>
        	<span class="hotPro_title">热门产品</span>
        </div>

        <div class="srCard padding">
            <img class="hotPro_bannerImg" src="./img/home/loveChildren.png" width="100%"/>
            <div>
                <div class="hotPro_itemTitle">少儿学生医疗保障计划</div>
                <p class="hotPro_discrible">
                                   专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
                                    让你的小孩成长无忧！
                </p>
            </div>
        </div>
        <div class="row row-no-padding">
        	<div class="col col-50">
		        <div class="srCard padding5 margin5-top">
		            <img src="./img/home/hot_left.png" width="100%"/>
		            <div>
		                <div class="hotPro_itemTitle">少儿学生医疗保障计划</div>
		                <p class="hotPro_discrible ellipsis2">
                                                   专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
		                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
		                                    让你的小孩成长无忧！
		                </p>
		            </div>
		        </div>        		
        	</div>
        	<div class="col col-50">
		        <div class="srCard padding5 margin5-top">
		            <img src="./img/home/hot_right.png" width="100%"/>
		            <div>
		                <div class="hotPro_itemTitle">少儿学生医疗保障计划</div>
		                <p class="hotPro_discrible ellipsis2">
		                               专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
		                                更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
		                                让你的小孩成长无忧！
		                </p>
		            </div>
		        </div>        		
        	</div>
        </div>
		<button class="button button-radius home_moreBtn" ng-click="getProductList()">更多内容 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></button>	  		
        <!--行业资讯-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_hy.png"/>
        	<span class="hotPro_title">行业资讯</span>
        </div>
        <div class="srCard padding">
        	<div class="row newsItem row-no-padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="horizontal_line padding-bottom"></div>
        	<div class="row newsItem row-no-padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="horizontal_line padding-bottom"></div>
        	<div class="row newsItem row-no-padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        </div>
		<button class="button button-radius home_moreBtn" ng-click="getNewsList()">更多内容 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></button>	  		
        <!--理财知识-->
	    <div class="home_hotPro vm">
	    	<img width="8" src="./img/home/circle_blue.png"/>
	    	<span class="hotPro_title">理财知识</span>
         </div>
         <div class="srCard padding relative" ng-click="goFinancialDetails()">
         	<img class="full-image" src="./img/home/licaizhishi.png"/>
         	<div class="textCenterImg">买保险你需要知道的那些儿事</div>
         </div>
		<button class="button button-radius home_moreBtn" ng-click="goFinancial()">更多内容 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></button>	  		
		<!--关于尚融-->
	    <div class="home_hotPro vm">
	    	<img width="8" src="./img/home/circle_hy.png"/>
	    	<span class="hotPro_title">关于尚融</span>
         </div>	
         <div class="srCard padding ub ub-ac ub-pc ub-ver home_about">
         	<img class="block" width="30" src="./img/home/kefu.png"/>
         	<div class="phoneBox linearRight">
         		400-888-6897
         	</div>
         	<div class="ub full-image margin15-top">
         		<div class="ub-f1 ub ub-ver ub-ac">
         			<div class="yewu_round">
         				<img src="./img/home/yewu3.png"/>
         			</div>
         			<div class="padding-top fs12">全保险牌照</div>
         		</div>
         		<div class="ub-f1 ub ub-ver ub-ac">
         			<div class="yewu_round">
         				<img src="./img/home/yewu1.png"/>
         			</div>
         			<div class="padding-top fs12">全保险牌照</div>
         		</div>
         		<div class="ub-f1 ub ub-ver ub-ac">
         			<div class="yewu_round">
         				<img src="./img/home/yewu2.png"/>
         			</div>
         			<div class="padding-top fs12">全保险牌照</div>
         		</div>
         	</div>
         	<div class="horizontal_line margin15-top"></div>
         	<p class="text-center margin15-top ft vm" ng-click="aboutSR()"><span>了解尚融</span><img width="8" height="11" src="./img/home/arrow.png"/></p>
         	
         </div>
    </ion-content>
</ion-view>
