<ion-view view-title="尚融汇" hide-tabs="false" hide-nav-bar="true">
    <ion-content>
        <ion-slide-box auto-play="true" does-continue="true" show-pager="true">
            <ion-slide ng-repeat="item in bannerItem">
            	<a ng-href="{{'http://'+item.contentUrl}}" target="blank">
                 <img ng-src="{{'http://'+item.imgUrl}}" />           		
                 <div class="bannerTitle" ng-bind="item.title"></div>
            	</a>
            </ion-slide>
        </ion-slide-box>
        <!--热门产品-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_blue.png"/>
        	<span class="hotPro_title">热门产品</span>
        </div>

        <div ng-click="getProductDels(hotProductList[0].pid)" class="srCard padding">
            <img class="hotPro_bannerImg" ng-src="{{'http://'+hotProductList[0].detailTopUrl}}" width="100%"/>
            <div>
                <div class="hotPro_itemTitle" ng-bind="hotProductList[0].productName"></div>
                <p class="hotPro_discrible" ng-bind="hotProductList[0].description">
                </p>
            </div>
        </div>
        <div class="row row-no-padding">
        	<div class="col col-50" ng-click="getProductDels(hotProductList[1].pid)">
		        <div class="srCard padding5 margin5-top">
		            <img ng-src="{{'http://'+hotProductList[1].detailTopUrl}}" width="100%"/>
		            <div>
		                <div class="hotPro_itemTitle" ng-bind="hotProductList[1].productName"></div>
		                <p class="hotPro_discrible ellipsis" ng-bind="hotProductList[1].description">
		                </p>
		            </div>
		        </div>        		
        	</div>
        	<div class="col col-50" ng-click="getProductDels(hotProductList[2].pid)">
		        <div class="srCard padding5 margin5-top">
		            <img ng-src="{{'http://'+hotProductList[2].detailTopUrl}}" width="100%"/>
		            <div>
		                <div class="hotPro_itemTitle" ng-bind="hotProductList[2].productName"></div>
		                <p class="hotPro_discrible ellipsis" ng-bind="hotProductList[2].description">
		                </p>
		            </div>
		        </div>        		
        	</div>
        </div>
		<button class="button button-radius home_moreBtn" ng-click="getProductList()">更多内容 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></button>	  		
        <!--行业资讯-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_hy.png"/>
        	<span class="hotPro_title">行业资讯</span>
        </div>
        <div class="srCard padding">
        	<div class="" ng-repeat="item in newsItem | limitTo : 3">
	        	<div class="row newsItem row-no-padding" ng-click="goNewsDetails(item)">
	        		<div>
	        			<img width="92" height="92" ng-src="{{'http://'+item.listUrl}}" err-src='' />
	        		</div>
	        		<div class="col padding15-left relative">
	        			<p class="news_title" ng-bind="item.title"></p>
	        			<div class="fs12 news_time" ng-bind="item.publishTime |date:'yyyy:MM:dd HH:mm'"></div>
	        		</div>
	        	</div>        
        	    <div class="horizontal_line padding-bottom" ng-hide="$last"></div>	        	
        	</div>
        </div>
		<button class="button button-radius home_moreBtn" ng-click="getNewsList()">更多内容 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></button>	  		
        <!--理财知识-->
	    <div class="home_hotPro vm">
	    	<img width="8" src="./img/home/circle_blue.png"/>
	    	<span class="hotPro_title">理财知识</span>
         </div>
         <div class="srCard padding relative" ng-click="goFncList(knowledgeItem)">
         	<img class="full-image" ng-src="{{'http://'+knowledgeItem.listUrl}}"/>
         	<div class="textCenterImg" ng-bind="knowledgeItem.title"></div>
         </div>
		<button class="button button-radius home_moreBtn" ng-click="goFinancial()">更多内容 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></button>	  		
		<!--关于尚融-->
	    <div class="home_hotPro vm">
	    	<img width="8" src="./img/home/circle_hy.png"/>
	    	<span class="hotPro_title">关于尚融</span>
         </div>	
         <div class="srCard padding ub ub-ac ub-pc ub-ver home_about">
         	<img class="block" width="30" src="./img/home/kefu.png"/>
         	<div class="phoneBox linearRight" ng-click="showCall()">
         		400-888-6897
         	</div>
         	<div class="ub full-image margin15-top">
         		<div class="ub-f1 ub ub-ver ub-ac">
         			<div class="yewu_round">
         				<img src="./img/home/yewu3.png"/>
         			</div>
         			<div class="padding-top fs12">全保险牌照</div>
         		</div>
         		<div class="ub-f1 ub ub-ver ub-ac">
         			<div class="yewu_round">
         				<img src="./img/home/yewu1.png"/>
         			</div>
         			<div class="padding-top fs12">全保险牌照</div>
         		</div>
         		<div class="ub-f1 ub ub-ver ub-ac">
         			<div class="yewu_round">
         				<img src="./img/home/yewu2.png"/>
         			</div>
         			<div class="padding-top fs12">全保险牌照</div>
         		</div>
         	</div>
         	<div class="horizontal_line margin15-top"></div>
         	<p class="text-center margin15-top ft vm" ng-click="aboutSR()"><span>了解尚融</span><img width="8" height="11" src="./img/home/arrow.png"/></p>
         	
         </div>
    </ion-content>
</ion-view>
<script type="text/ng-template" id="call.html">
	<div class="text-center">
		<p style="margin: 25px 0;">确定拨打电话:400-888-6987?</p>
		<div class="sub-ft fs12" style="margin-bottom: 25px;">服务时间：工作日 9:00-12:00 13:30-18:00</div>
	</div>
</script>