<ion-view view-title="激活账号" hide-tabs="true">
	<ion-content class="bg-default" scroll="true" lazy-scroll>
          <div class="qrBox">
          	<div class="codeBox">
				<div class="padding">
					<img src="./img/agent/activeAgent.png"/>
					<div class="padding fs14">
						请扫描客户代表提供的二维码进行激活
					</div>
					 <a ng-click="activate()" class="button button-block button-default">激活账号</a>
					<div class="padding fs14">
						（<span style="color:red">温馨提示：</span>若意外退出该激活页面，请查询申请进度之后完成激活！）
					</div>					 
				</div>          		
          	</div>
          </div>
	</ion-content>	
</ion-view>