<ion-view view-title="地址信息" hide-tabs="true">
	<ion-content scroll="true">
		<div class="ub stepBox">
			<div class="ub ub-ver ub-pc ub-ac">
				<img src="./img/agent/step-1-active.png"/>
				<div class="ft fs12">身份信息</div>
			</div>
			<div class="ub-f1 dash-line active"></div>
			<div class="ub ub-ver ub-pc ub-ac">
				<img src="./img/agent/step-2-active.png"/>
				<div class="ft fs12">地址信息</div>
			</div>
			<div class="ub-f1 dash-line"></div>
			<div class="ub ub-ver ub-pc ub-ac">
				<img src="./img/agent/step-3.png"/>
				<div class="sub-ft fs12">工作信息</div>
			</div>
			<div class="ub-f1 dash-line marginRight4"></div>
			<div class="ub ub-ver ub-pc ub-ac">
				<img src="./img/agent/step-4.png"/>
				<div class="sub-ft fs12">联系人</div>
			</div>
			<div class="ub-f1 dash-line marginLeft4"></div>
			<div class="ub ub-ver ub-pc ub-ac">
				<img src="./img/agent/step-5.png"/>
				<div class="sub-ft fs12">附件上传</div>
			</div>
		</div>
		<div class="bold padding-horizontal fs14">户籍地址</div>	
		<div class="list bottom0" ng-Model="cusInfoModel">
			<div class="item card padding-vertical">
				<label class="item item-select mySelect">
			        <div class="input-label">省份</div>
					   <select ng-model="agentModel.hukouAddress.province" ng-change="hjProvinceChange()" ng-options="item.text as item.text for item in hjProvinceList">
					   	<option value="">请选择</option>
					</select>
			    </label>
				<label class="item item-select mySelect">
				       <div class="input-label">城市</div>
						   <select ng-model="agentModel.hukouAddress.city" ng-options="item.text as item.text for item in hjCityList">
						   	<option value="">请选择</option>
						</select>
				</label>
				<div class="ub ub-ac padding-vertical border-bottom row-no-padding">
					<div class="col col-30 bold fs14">户籍地址</div>
					<div class="col col-70 bold fs14 sub-ft">
                        <input type="text" ng-model="agentModel.hukouAddress.address" placeholder="请输入户籍详细地址">
					</div>
				</div>
			</div>
		</div>
		<div class="bold padding-horizontal fs14">现居地址</div>
		<div class="list">
			<div class="item card border-bottom">
				<label class="item item-select mySelect">
			        <div class="input-label">省份</div>
					   <select ng-model="agentModel.liveAddress.province" ng-change="xjProvinceChange()" ng-options="item.text as item.text for item in xjProvinceList">
					   	<option value="">请选择</option>
					</select>
			    </label>
				<label class="item item-select mySelect">
				       <div class="input-label">城市</div>
						   <select ng-model="agentModel.liveAddress.city" ng-options="item.text as item.text for item in xjCityList">
						   	<option value="">请选择</option>
						</select>
				</label>
				<div class="ub ub-ac padding-vertical border-bottom row-no-padding">
					<div class="col col-30 bold fs14">现住地址</div>
					<div class="col col-70 bold fs14 sub-ft">
                        <input type="text" ng-model="agentModel.liveAddress.address" placeholder="请输入现住详情地址">
					</div>
				</div>
			</div>
			<div class="padding">
			    <a ng-click="next(agentModel)" class="button button-block button-assertive">下一步</a>
			</div>
	</ion-content>
</ion-view>