<ion-view view-title="添加银行卡" hide-tabs="true">
	<ion-content scroll="true">
		<div class="list">
			<div class="item card border-bottom">
				<div class="ub ub-ac padding-vertical border-bottom row-no-padding">
					<div class="col col-30 bold fs14">姓名</div>
					<div class="col col-70 bold fs14 sub-ft">
						{{bankModel.name}}
                        <!-- <input type="text" ng-model="bankModel.name" placeholder="请输入姓名"> -->
					</div>
				</div>
				<div class="ub ub-ac padding-vertical border-bottom row-no-padding">
					<div class="col col-30 bold fs14">手机号码</div>
					<div class="col col-70 bold fs14 sub-ft">
                        <input type="tel" ng-model="bankModel.phone" placeholder="请输入手机号码">
					</div>
				</div>
				<label class="item item-select mySelect">
				    <div class="input-label">开户行</div>
						<select ng-model="selectBankVal" ng-change="selectBank(selectBankVal)" ng-options="item as item.bankName for item in bankList">
							<option value="">请选择</option>
						</select>
				 </label>
				<div class="ub ub-ac padding-vertical border-bottom row-no-padding">
					<div class="col col-30 bold fs14">银行卡号</div>
					<div class="col col-70 bold fs14 sub-ft">
                        <input type="text" ng-model="bankModel.bankNo" ng-keyup="initBankNo()" placeholder="请输入银行卡号">
					</div>
				</div>
				<div class="ub ub-ac padding-vertical border-bottom row-no-padding">
					<div class="col col-30 bold fs14">默认银行</div>
					<div class="col col-70 bold fs14 sub-ft">
                        <ion-checkbox ng-model="bankModel.isDefault"></ion-checkbox>
					</div>
				</div>
			</div>
			<div class="padding">
			    <a ng-click="addBankInfo(bankModel)" class="button button-block button-assertive">保存</a>
			</div>
	</ion-content>
</ion-view>