<ion-view view-title="协议" hide-tabs="true">
	<ion-content scroll="true">
		<div class="padding-horizontal padding-top">
			<p>甲方：深圳前海达飞金融服务有限公司</p>
            <p>乙方：&nbsp;&nbsp;<span class="bold">{{userInfo.userName}}</span></p>
			<p>鉴于：</p>
			<p>甲方为即有钱包移动端平台（“移动端”包含但不限于微信端、网页端、APP等）的经营者，乙方为<span class="bold">{{userInfo.factoryName}}</span>以下简称“工作单位”）的员工，甲乙双方本着平等自愿、互惠互利、诚实信用原则，经友好协商，根据国家相关法律法规，就乙方推广甲方的即有钱包产品有关事宜，达成如下协议，以兹共同遵守。</p>
			<p class="red">第一条 合作项目 </p>
			<p>甲乙双方进行合作，由乙方对甲方开发的“即有钱包”移动端平台（以下简称“即有钱包”）在推广范围内向特定客户群体进行业务推广活动。</p>
			<p class="red">第二条 推广范围</p>
			<p>乙方仅限于向与其同一工作单位的人员推荐即有钱包。</p>
			<p class="red">第三条 合作方式</p>
			<p>1.乙方通过即有钱包项目后台管理APP（即“即有面签App”，以下称“本平台”）注册页面签署本协议。乙方在本平台上完成注册申请的，即可获得甲方在系统内为乙方配置的推荐码，
乙方推荐的客户使用该推荐码在移动端的即有钱包开通页面提交初审资料且申请通过后，甲方将联系该名客户完成面签流程（下称“面签流程” ），即与客户见面进行资料的确认和核实，
如资料核实无误，申请单正式提交的，视为完成面签流程。面签结束后，甲方最终复审通过的，客户即可成功开通即有钱包。本协议下，乙方推荐的客户完成面签流程的，即视为乙方的成
功推荐。</p>
			<p>2.客户在即有钱包账号开通后会产生对应的子推荐码，该名客户可以使用子推荐码为其他客户申请开通即有钱包。客户推荐的其他客户完成面签流程的，如其使用的子推荐码最终可追溯到
乙方的推荐码且乙方的账户现行有效的，则视为是乙方的间接成功推荐。</p>
<p>3.甲方根据乙方直接或间接成功推荐的情况，向乙方支付相应的合作推广费。乙方可以在本平台上随时查阅其业务推广情况。</p>
<p>4.乙方可自行安排其进行业务推广的时间、途径及方式等，但不得超越本协议约定的推广范围，或从事欺诈、套现、虚假宣传等违法活动。</p>
<p>5.乙方明白乙方并非甲方员工，甲乙双方签署本协议并不能导致甲乙双方劳动关系的建立。乙方不享有公司福利待遇、保险等劳动权利。乙方不得以甲方名义发表、签署任何文件，或向客户作出无依据的承诺。乙方的推广过程中所产生的法律责任均由乙方自行承担，与甲方无关。</p>
<p>6.甲方保留对本协议的合作规则及内容进行单方面变更的权利，并有权在移动端上以发布消息推送、通知、公告等方式予以公布，而无需另行单独通知乙方。若乙方自收到甲方调整合作规
则及内容的通知后5个工作日内未提出异议，或者在甲方公布调整后的规则后，乙方仍继续使用本平台的，即表示乙方已充分阅读、理解并接受该内容调整，也将遵循修改后的条款内容使
用本平台；若乙方不同意该内容调整的，则应立即停止使用本平台。</p>
<p class="red">第四条 合作推广费用结算及付款方式</p>
<p>1.本协议项下的合作推广费的计取规则及标准具体以甲方在移动端上的系统公告或官方邮件为准。甲方可根据市场对合作推广费作相应的调整。</p>
<p>2.本协议项下合作推广费的结算方式、结算时间具体以甲方在移动端上的系统公告或官方邮件为准，税费由乙方承担 。</p>
<p>3.付款方式：乙方确认，本协议项下的合作推广费，可由甲方或甲方的合作方支付至乙方指定的账户。乙方收到甲方合作方的合作推广费则视为甲方已支付该费用。</p>
<p class="red">第五条 甲方责任</p>
<p>1.甲方保证项目产品符合国家相关法律法规的规定。如因甲方项目产品违反法律规定或涉及知识产权纠纷，导致乙方遭受实际损失的，甲方应承担相应的赔偿责任。</p>
<p>2.甲方应及时向乙方支付合作推广费。</p>
<p>3.甲方负责为乙方提供推广甲方产品时所需的资料，包括宣传单等形式的宣传资料。</p>
<p>4.在乙方正式开展业务推广活动前，甲方应为乙方进行项目产品的介绍和培训，该培训不向乙方收取任何费用。</p>
<p>5.甲方指定一名客户代表与乙方进行对接，在本协议有效期间内行使通知、答复、建议等本协议履行之相关事项。</p>
<p>6.甲方承诺对乙方的个人信息资料严格对外保密，不得随意向第三方披露或授权使用。</p>
<p class="red">第六条 乙方责任</p>
<p>1.乙方应确保其向甲方提交的资料及信息真实有效，不存在隐瞒或虚假的情形。</p>
<p>2.乙方仅限于向与其同一工作单位的同事推广即有钱包，若乙方的工作单位变更的，则应及时通知甲方并提交相关的资料供甲方审核，经甲方审核通过的，乙方方可向新工作单位的同事推
广即有钱包。若乙方未及时通知甲方关于工作单位变更的事实而仍继续进行项目推广的，则尽管乙方直接或间接成功推荐客户开通即有钱包，甲方均无需按照第四条的约定向乙方支付合作
推广费。</p>
<p>3.乙方应积极参加培训，认真学习培训内容，并按照甲方的要求向客户介绍项目产品。甲方可不定期向乙方具体了解乙方对项目产品的业务推广情况，乙方应予配合并如实反馈。</p>
<p>4.乙方同意并授权甲方或其关联公司为信用评估、风险管理等任何目的，通过第三方平台（包括但不限于合法设立的征信系统、社会保险局网站等）查询乙方身份及信用信息。</p>
<p>5.乙方应遵守国家相关政策及法律法规，合法合规开展业务推广活动。乙方不得通过虚假宣传或者私自向客户作出不实承诺等方式诱骗客户申请即有钱包开户、办理业务。乙方不得参与套现等欺诈性活动，不得明知却支持或容忍客户利用甲方项目产品从事套现等违法活动。如知晓发生欺诈或其他可疑行为的，乙方应立即通知甲方，并全力配合甲方开展的调查行动。</p>
<p>6.乙方应妥善保管个人账户信息，不得以任何方式转让或赠与第三人，否则甲方有权利对乙方账户进行冻结或注销。</p>
<p>7.乙方不得为任何其他第三方推广与甲方产品相同或相似的其他产品。</p>
<p>8.乙方对在执行本协议过程中所知悉的与本项目相关的一切资料和信息（包括客户的身份信息）均负有保密义务。未经甲方书面同意，乙方不得以任何方式利用上述资料和信息或以任何方
式向任何第三方披露上述资料或信息，否则应向甲方承担赔偿责任。乙方的上述保密义务不因本协议终止而终止。</p>
<p>9.乙方在本协议终止后应向甲方返还所有甲方提供的文件，包括但不限于宣传资料、培训文件等。</p>
<p class="red">第七条 违约条款</p>
<p>1.在下列情形下，甲方有权单方面暂停与乙方合作或解除本协议，并对乙方账户进行冻结或注销：</p>
<p class="indent2">1)乙方向甲方提供虚假资料或信息的;</p>
<p class="indent2">2)乙方变更工作单位且经甲方审核未通过的；</p>
<p class="indent2">3)乙方连续3个月未向甲方成功推荐客户的；</p>
<p class="indent2">4)乙方服务态度恶劣，可能造成不良影响及甲方损失的；</p>
<p class="indent2">5)乙方诱导、默许客户提供虚假资料或隐瞒重要事实；</p>
<p class="indent2">6)乙方与甲方内部人员或客户恶意串通，骗取甲方消费分期服务和借款；</p>
<p class="indent2">7)乙方参与有组织的套现活动或明知却支持或容忍该等活动；</p>
<p class="indent2">8)乙方诱骗客户，收取客户钱财的；</p>
<p class="indent2">9)乙方私自处理客户投诉；</p>
<p class="indent2">10)乙方推荐客户的风控情况不符合甲方要求的；</p>
<p class="indent2">11)乙方违反保密的规定；</p>
<p class="indent2">12)其他违反本协议规定或其他可能给甲方造成声誉、经济上的损失的行为。</p>
<p>2.当乙方的其他行为损害甲方利益或不能满足甲方要求时，甲方可以要求乙方予以改正。如经乙方改正后仍不能达到甲方要求的，甲方可立即解除本协议并要求乙方赔偿相应的损失。</p>
<p>3.若甲方有合理理由怀疑乙方有涉嫌套现或欺诈行为的，在案件调查结束之前，甲方有权暂扣所有应支付给乙方的合作推广费。如经确认，乙方的上述行为属实的，则乙方除应赔偿甲方所有损失外，还应向甲方支付相当于涉案业务的分期金额（分期金额包括贷款合同所列明的贷款本金、利息和其他费用等）及分期金额20%的违约金。该赔偿款及违约金甲方有权直接从暂扣的款项中予以相应扣除。</p>
<p>4.除本协议另有约定外，乙方的行为给客户或甲方带来经济损失的，乙方应承担经济赔偿损失。违反法律规定的，甲方将保留追究乙方法律责任的权利。</p>
<p>5.若因任何一方违反本协议约定导致与第三人发生争议或造成守约方损失的，应由违约方承担由此产生的相应责任。</p>
<p class="red">第八条 合作期限及终止</p>
<p>1.本协议有效期为一年，自签订之日起算。如双方在有效期届满日的15天前未提出无异议，则本协议自动续签一年。</p>
<p>2.甲方有权视其项目产品的经营情况决定提前终止本协议，但应提前15天通知乙方。</p>
<p>3.如甲方项目产品在本协议约定的推广区域范围内停止销售的，则本协议自行终止。</p>
<p>4.如乙方在本协议有效期内变更工作单位的，则甲方有权视情况决定变更或终止本协议。乙方离开本协议鉴于条款中所提到的工作单位的，则乙方不得再向该工作单位员工推荐业务，若乙
方违规操作，则甲方有权拒绝支付合作推广费用。</p>
<p>5.乙方理解并同意，本协议终止后，甲方有权禁用乙方在本平台上的账号，乙方将无法使用原账号登录本平台。</p>
<p class="red">第九条 适用法律及争议解决</p>
<p>双方因履行本协议有关的一切争议、纠纷或索赔均应当首先通过友好协商解决。协商不成的，任何一方有权向甲方所在地人民法院提起诉讼。</p>
<p class="red">第十条 协议的签署及生效</p>
<p>乙方确认，乙方已充分阅读、理解并接受本协议的全部内容，且一旦勾选“已阅读并确认《项目推广合作协议》” 并完成本平台注册流程的，即表示乙方同意遵循本协议之所有约定，本
协议条款即开始对乙方产生约束力。</p>
<p>（以下无正文）</p>
<p>甲方：深圳前海达飞金融服务有限公司</p>
<p>乙方：&nbsp;&nbsp;<span class="bold">{{userInfo.userName}}</span></p>
		</div>
		<ion-checkbox ng-model="isActivate" class="agreeChb">认可该协议</ion-checkbox>
			<div class="padding">
			    <a ng-click="saveAgr(isActivate)" class="button button-block button-default">提交</a>
			</div>
	</ion-content>
</ion-view>