<ion-view view-title="理财师充电站" hide-tabs="true" hide-nav-bar="false" hide-back-button="false">
    <ion-content scroll="true" lazy-scroll>
        <div class="padding srCard" ng-click="goChargeDetails()">
        	<div class="row newsItem row-no-padding">
        		<div>
        			<img width="92" height="92" src="./img/find/pexels-photo-213338@2x.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<div class="news_title">术语翻译机</div>
        			<div class="news_subTitle">翻一翻你没听过的保险名词</div>
        			<div class="news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        </div>   
        <div class="padding srCard" ng-click="goChargeDetails()">
        	<div class="row newsItem row-no-padding">
        		<div>
        			<img width="92" height="92" src="./img/find/pexels-photo-247616@2x.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<div class="news_title">术语翻译机</div>
        			<div class="news_subTitle">翻一翻你没听过的保险名词</div>
        			<div class="news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        </div>   
        <div class="padding srCard" ng-click="goChargeDetails()">
        	<div class="row newsItem row-no-padding">
        		<div>
        			<img width="92" height="92" src="./img/find/pexels-photo-395196@2x.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<div class="news_title">术语翻译机</div>
        			<div class="news_subTitle">翻一翻你没听过的保险名词</div>
        			<div class="news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        </div>    	
    </ion-content>
</ion-view>
