<ion-view view-title="发现" hide-tabs="false" hide-nav-bar="true">
    <ion-content>
        <ion-slide-box auto-play="false" does-continue="true">
            <ion-slide>
                <div class="full-image" ng-click="goHelper()">
                	<img src="./img/find/huokeBanner.png" />
                </div>
            </ion-slide>
        </ion-slide-box>
        <!--理财师小工具-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_blue.png"/>
        	<span class="hotPro_title">理财师小工具</span>
        </div> 
        <div class="srCard">
        	<div class="row row-no-padding padding15-top">
        		<a href="https://wx.camcard.com/ecard?from=wxpub" target="_blank" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/jisuanqi.png"/>
        			<h5>复利计算</h5>
        		</a>
        		<a href="https://openapi.boc.cn/af/newMobileHtml/index.html#/app/main?channel=weixin" target="_blank" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/fangdai.png"/>
        			<h5>房贷计算器</h5>
        		</a>
        		<a href="http://m.db.house.qq.com/index.php?mod=calculator&type=sd&rf=&from=singlemessage&isappinstalled=0" target="_blank" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/huilvxinxi.png"/>
        			<h5>汇率计算器</h5>
        		</a>
        		<a href="https://m.itouzi.com/flzz-jsq" target="_blank" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/mingpian.png"/>
        			<h5>名片全能王</h5>
        		<a>
        	</div>
        </div>
        
        <!--理财师充电站-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_hy.png"/>
        	<span class="hotPro_title">理财师充电站</span>
        </div>

        <div class="srCard padding" ng-click="goChargeDetails()">
            <img class="hotPro_bannerImg" src="./img/find/chongdian_banner.png" width="100%"/>
        </div>
        <div class="row row-no-padding">
        	<div class="col col-50" ng-click="goChargeDetails()">
		        <div class="srCard padding5 margin5-top">
		            <img src="./img/find/charge_left.png" width="100%"/>
		            <div>
		                <div class="hotPro_itemTitle">港险相比内地保险的优势</div>
		                <p class="hotPro_discrible ellipsis2">
                                                   专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
		                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
		                                    让你的小孩成长无忧！
		                </p>
		            </div>
		        </div>        		
        	</div>
        	<div class="col col-50" ng-click="goChargeDetails()">
		        <div class="srCard padding5 margin5-top">
		            <img src="./img/find/charge_right.png" width="100%"/>
		            <div>
		                <div class="hotPro_itemTitle">港险相比内地保险的优势</div>
		                <p class="hotPro_discrible ellipsis2">
		                               专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
		                                更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
		                                让你的小孩成长无忧！
		                </p>
		            </div>
		        </div>        		
        	</div>
        </div>
		<button class="button button-radius home_moreBtn margin15-bottom" ng-click="goChargeStation()">更多内容 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></button>	  		
    </ion-content>
</ion-view>
