<ion-view view-title="发现" hide-tabs="false" hide-nav-bar="true">
    <ion-content>
        <ion-slide-box auto-play="false" does-continue="true">
            <ion-slide>
                <img src="./img/find/huokeBanner.png" />
            </ion-slide>
            <ion-slide>
                 <img src="./img/find/huokeBanner.png" />
            </ion-slide>
            <ion-slide>
                 <img src="./img/find/huokeBanner.png" />
            </ion-slide>
        </ion-slide-box>
        <!--理财师小工具-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_blue.png"/>
        	<span class="hotPro_title">理财师小工具</span>
        </div> 
        <div class="srCard">
        	<div class="row row-no-padding padding15-top">
        		<div class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/计算器@2x.png"/>
        			<h5>复利计算</h5>
        		</div>
        		<div class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/房贷@2x.png"/>
        			<h5>房贷计算器</h5>
        		</div>
        		<div class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/汇率信息@2x.png"/>
        			<h5>汇率计算器</h5>
        		</div>
        		<div class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/名片@2x.png"/>
        			<h5>名片全能王</h5>
        		</div>
        	</div>
        </div>
        
        <!--理财师充电站-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_hy.png"/>
        	<span class="hotPro_title">理财师充电站</span>
        </div>

        <div class="srCard padding">
            <img class="hotPro_bannerImg" src="./img/find/chongdian_banner.png" width="100%"/>
        </div>
        <div class="row row-no-padding">
        	<div class="col col-50">
		        <div class="srCard padding5 margin5-top">
		            <img src="./img/find/charge_left.png" width="100%"/>
		            <div>
		                <div class="hotPro_itemTitle">港险相比内地保险的优势</div>
		                <p class="hotPro_discrible ellipsis2">
                                                   专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
		                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
		                                    让你的小孩成长无忧！
		                </p>
		            </div>
		        </div>        		
        	</div>
        	<div class="col col-50">
		        <div class="srCard padding5 margin5-top">
		            <img src="./img/find/charge_right.png" width="100%"/>
		            <div>
		                <div class="hotPro_itemTitle">港险相比内地保险的优势</div>
		                <p class="hotPro_discrible ellipsis2">
		                               专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
		                                更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
		                                让你的小孩成长无忧！
		                </p>
		            </div>
		        </div>        		
        	</div>
        </div>
		<button class="button button-radius home_moreBtn margin15-bottom">更多内容 <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></button>	  		
    </ion-content>
</ion-view>
