<ion-view view-title="获客助手" hide-tabs="true" hide-nav-bar="true">
    <ion-content>
        <ion-slide-box auto-play="false" does-continue="false" show-pager="false">
            <ion-slide>
                <img src="./img/find/huokeBanner.png" />
            </ion-slide>
        </ion-slide-box>
        <!--发东西-->
        <div class="srCard">
        	<div class="row row-no-padding padding15-top">
        		<a href="#/app/sendImage" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/jisuanqi.png"/>
        			<h5>发图片</h5>
        		</a>
        		<a href="#/app/sendNews" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/fangdai.png"/>
        			<h5>发资讯</h5>
        		</a>
        		<a href="#/app/sendKnowledge" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/huilvxinxi.png"/>
        			<h5>发小知识</h5>
        		</a>
        		<a href="#/app/sendJiTang" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/mingpian.png"/>
        			<h5>发鸡汤</h5>
        		</a>
        	</div>
        </div>
        
        <!--理财师充电站-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_hy.png"/>
        	<span class="hotPro_title">热门推荐</span>
        </div>
        <div class="srCard padding">
        	<div class="row newsItem row-no-padding" ng-click="goHotDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="horizontal_line padding-bottom"></div>
        	<div class="row newsItem row-no-padding">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="horizontal_line padding-bottom"></div>
        	<div class="row newsItem row-no-padding">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        </div>
    </ion-content>
</ion-view>
<script type="text/ng-template" id="setInfo.html">
	<div class="text-center padding">
		在使用获客助手分享图片或文章前请先设置个人信息，这样才方便潜在客户找到您
	</div>
</script>
<script id="modal.html" type="text/ng-template">
  <div class="modal">
	<ion-header-bar align-title="center">
	  <h1 class="title">设置个人信息</h1>
	  <div class="buttons">
	    <button class="button bg-white" ng-click="closeModal()"><i class="icon ion-chevron-down"></i></button>
	  </div>	  
	</ion-header-bar>
    <ion-content padding=true>
       	<div class="fs12 sub-ft padding-horizontal padding-top">请认真填写以下信息，以便潜在客户顺利找到您</div>
		<div class="list card padding plannerCertifBox">
		  <label class="item item-input">
		    <span class="input-label fs14">姓名</span>
		    <input type="text" placeholder="请输入您的姓名">
		  </label>
		  <label class="item item-input">
		    <span class="input-label fs14">手机号</span>
		    <input type="text" placeholder="请输入您的手机号码">
		  </label>	
		  <label class="item item-input">
		    <span class="input-label fs14">职级</span>
		    <input type="text" placeholder="请输入您的职业等级">
		  </label>	
		  <label class="item item-input" style="-webkit-align-items:baseline;align-items: baseline;">
		    <span class="input-label fs14">签名</span>
		    <textarea type="text" cols="3" rows="5" class="padding-right" placeholder="请您所擅长的领域或辉煌历史"></textarea>
		  </label>	
		  
		</div>
    	<div class="text-center" style="padding:30px;">
          <div class="button linearRight full-image fs14">保存</div>     	
    	</div>		
    </ion-content>
  </div>
</ion-view>  
</script>