<ion-view view-title="获客助手" hide-tabs="true" hide-nav-bar="true">
    <ion-content>
        <ion-slide-box auto-play="false" does-continue="false" show-pager="false">
            <ion-slide>
                <img src="./img/find/huokeBanner.png" />
            </ion-slide>
        </ion-slide-box>
        <!--发东西-->
        <div class="srCard">
        	<div class="row row-no-padding padding15-top">
        		<a href="#/app/sendImage" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/jisuanqi.png"/>
        			<h5>发图片</h5>
        		</a>
        		<a href="#/app/sendNews" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/fangdai.png"/>
        			<h5>发资讯</h5>
        		</a>
        		<a href="#/app/sendKnowledge" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/huilvxinxi.png"/>
        			<h5>发小知识</h5>
        		</a>
        		<a href="#/app/sendJiTang" class="col ub ub-ver ub-ac">
        			<img width="43" height="43" src="./img/find/mingpian.png"/>
        			<h5>发鸡汤</h5>
        		</a>
        	</div>
        </div>
        
        <!--理财师充电站-->
        <div class="home_hotPro vm">
        	<img width="8" src="./img/home/circle_hy.png"/>
        	<span class="hotPro_title">热门推荐</span>
        </div>
        <div class="srCard padding">
        	<div class="row newsItem row-no-padding" ng-click="goHotDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="horizontal_line padding-bottom"></div>
        	<div class="row newsItem row-no-padding">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="horizontal_line padding-bottom"></div>
        	<div class="row newsItem row-no-padding">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        </div>
    </ion-content>
</ion-view>
