<ion-view view-title="发资讯" hide-tabs="true" hide-nav-bar="true" hide-back-button="false">
    <ion-content scroll="true" lazy-scroll>
    	<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="加载中..." spinner="dots"></ion-refresher>
        <div class="padding srCard" ng-click="goNewsDetails(item)" ng-repeat="item in newsList">
        	<div class="row newsItem row-no-padding">
        		<div>
        			<img width="92" height="92" ng-src="{{'http://'+item.listUrl}}" />
        		</div>
        		<div class="col padding15-left relative">
        			<div class="news_title" ng-bind="item.title"></div>
        			<div class="news_subTitle" ng-bind="item.subTitle"></div>
        			<div class="news_time" ng-bind="item.publishTime |date:'yyyy:MM:dd HH:mm'"></div>
        		</div>
        	</div>
        </div>   
        <no-data ng-show="newsList.length==0?true:false"></no-data>
		<ion-infinite-scroll ng-if="more" on-infinite="loadMore()" distance="5%" icon="ion-loading-d" immediate-check="false"></ion-infinite-scroll>        
    </ion-content>
</ion-view>
