<ion-view view-title="发鸡汤" hide-tabs="true" hide-nav-bar="true" hide-back-button="false">
    <ion-content scroll="true" lazy-scroll>
        	<div class="ub newsItem srCard padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="ub-f1 padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="ub newsItem srCard padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="ub-f1 padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="ub newsItem srCard padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="ub-f1 padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
    </ion-content>
</ion-view>
