<ion-view view-title="发图片" hide-tabs="true" hide-nav-bar="true">
    <ion-content>
    	<img class="full-image" src="./img/find/helper/fatupianBanner.png"/>
    	<div class="padding-horizontal ub" style="padding-top: 25px;">
    		<div class="ub-f1 ub ub-ac ub-pc card-shadow padding5 linearRight white">全部</div>
    		<div class="ub-f1 ub ub-ac ub-pc card-shadow margin5-left">座右铭</div>
    		<div class="ub-f1 ub ub-ac ub-pc card-shadow margin5-left">诗和远方</div>
    		<div class="ub-f1 ub ub-ac ub-pc card-shadow margin5-left">节日问候</div>
    		<div class="ub-f1 ub ub-ac ub-pc card-shadow margin5-left">产品相关</div>
    	</div>
    	<div class="card-shadow padding row row-wrap margin-horizontal margin-bottom" style="width: auto;">
    		<div class="col col-50">
    			<img class="full-image" src="./img/find/helper/img1.png"/>
    		</div>
    		<div class="col col-50">
    			<img class="full-image" src="./img/find/helper/img2.png"/>
    		</div>
    		<div class="col col-50">
    			<img class="full-image" src="./img/find/helper/img3.png"/>
    		</div>
    		<div class="col col-50">
    			<img class="full-image" src="./img/find/helper/img4.png"/>
    		</div>
    		<div class="col col-50">
    			<img class="full-image" src="./img/find/helper/img3.png"/>
    		</div>
    		<div class="col col-50">
    			<img class="full-image" src="./img/find/helper/img4.png"/>
    		</div>
    		<div class="col col-50">
    			<img class="full-image" src="./img/find/helper/img3.png"/>
    		</div>
    		<div class="col col-50">
    			<img class="full-image" src="./img/find/helper/img4.png"/>
    		</div>
    	</div>
    </ion-content>
</ion-view>
