<ion-view view-title="客户详情" hide-tabs="true" hide-nav-bar="false">
    <ion-content class="bg-grey">     	
    	<div class="cusDel_header ub ub-ac">
    		<div>
    			<img width="60" src="./img/my/portrait.png"/>
    		</div>
    		<div class="ub-f1 nameAndId">
    			<p class="fs13">毛毛虫</p>
    			<div class="fs12">123456789</div>
    		</div>
    		<div class="sub-ft fs12">
    			2016-09-26 注册
    		</div>
    	</div>
 		<div class="sale_header ub ub-ac ub-pc margin-vertical padding-horizontal padding15-vertical">
          <div class="ub-f1 help_time text-center border2-right">
          	<div class="fs12">累计预约的次数（次）</div>
          	<div class="fs20 white saleTotal">2<span class="fs12 Dark"></span></div>
          </div>
          <div class="ub-f1 help_time text-center">
          	<div class="fs12">累计预约金额（元）</div>
          	<div class="fs20 white saleTotal">600,000.00<span class="fs12 Dark"></span></div>
          </div>
		</div>     	
    	<div class="collaspeItem bg-white">
    	  <div class="orderItem borderTop-none">
    	  	<div class="ub ub-pc">
    	  		<div class="ub-f1">预约购买</div>
    	  		<div class="sub-ft fs12">2017-12-12 15:30</div>
    	  	</div>
    	  	<div class="ub ub-pc margin-top">
    	  		<div class="ub-f1">
    	  			<div class="fs12">购买产品：《平安宝宝少儿综合医疗保险》</div>
    	  			<div class="fs12">购买金额：1000元</div>
    	  		</div>
    	  		<div class="sub-ft fs12">
    	  			<img width="63" height="48" src="./img/my/yishouli.png"/>
    	  		</div>
    	  	</div>
    	  </div>
    	  
    	  <div class="orderItem">
    	  	<div class="ub ub-pc">
    	  		<div class="ub-f1">预约购买</div>
    	  		<div class="sub-ft fs12">2017-12-12 15:30</div>
    	  	</div>
    	  	<div class="ub ub-pc margin-top">
    	  		<div class="ub-f1">
    	  			<div class="fs12">购买产品：《平安宝宝少儿综合医疗保险》</div>
    	  			<div class="fs12">购买金额：1000元</div>
    	  		</div>
    	  		<div class="sub-ft fs12">
    	  			<img width="63" height="48" src="./img/my/yiwancheng.png"/>
    	  		</div>
    	  	</div>
    	  </div>    	  
    	</div>   	
    </ion-content>
</ion-view>