<ion-view view-title="帮助中心" hide-tabs="false" hide-nav-bar="false">
	<ion-content class="bg-grey">
		<div class="help_header ub ub-ac ub-pc">
          <img width="53" height="53" src="./img/my/kefu.png" alt="客服" class="" />
          <div class="ub-f1 white help_time">
          	<div class="fs12">服务时间</div>
          	<div class="fs12">工作日：9:00-12:00&nbsp;13:00-18:00</div>
          </div>
           <img width="27" height="30" src="./img/my/help_call.png"/>
		</div>
    	<div class="record_total bg-grey">
    		猜您想问
    	</div>	

   	<div class="collaspeItem bg-white">
    	  <div class="collaspeHeader ub ub-ac" >
    	  	<div class="time">预约购买流程</div>
    	  	<div class="ub ub-f1 ub-ac ub-pe">
    	  	<i class="ion-chevron-up"></i>
    	  	</div>
    	  </div>
    	  
    	  <div class="orderItem padding5-top">
    	  	<div class="ub ub-pc margin-top">
                                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
    	  	</div>
    	  </div>
    </div> 
    
   	<div class="collaspeItem bg-white margin-top">
    	  <div class="collaspeHeader ub ub-ac" >
    	  	<div class="time">预约购买流程</div>
    	  	<div class="ub ub-f1 ub-ac ub-pe">
    	  	<i class="ion-chevron-down"></i>
    	  	</div>
    	  </div>
    </div> 
    
   	<div class="collaspeItem bg-white margin-top">
    	  <div class="collaspeHeader ub ub-ac" >
    	  	<div class="time">预约购买流程</div>
    	  	<div class="ub ub-f1 ub-ac ub-pe">
    	  	<i class="ion-chevron-down"></i>
    	  	</div>
    	  </div>
    </div>   	

	</ion-content>
</ion-view>