<ion-view view-title="我的" hide-tabs="false" hide-nav-bar="true">
	<ion-content class="bg-grey">
		<div class="my_header ub ub-ac ub-ver">
			<a href="#/app/personalCenter">
			    <img width="70" height="70" ng-src="{{headImg}}" />
			</a>
			<div class="my_name fs16">{{userName}}</div>
			<div class="my_position">理财经理</div>
		</div>
		
		<div class="my_count ub row">
			<a href="#app/saleRecord" class="ub ub-ac ub-pc ub-f1 col col-50 ub-ver padding-vertical border2-right Dark">
				<div class="my_itemName">累积销售金额（元）</div>
				<div class="white margin5-top">765432.00</div>
			</a>
			<a href="#app/incomeDetails" class="ub ub-ac ub-pc ub-f1 col col-50  ub-ver padding-vertical Dark">
				<div class="my_itemName">累积收益（元）</div>
				<div class="white margin5-top">765432.00</div>
			</a>
		</div>
		
		<div class="my_itemGroup margin-top">
			
			<div ng-click="showMyPlanner()" class="my_item ub margin15-top">
				<div class="my_itemName">我的理财师</div>
				<div class="ub ub-f1 ub-pe">
					<i class="icon ion-ios-arrow-right fs20 Dark"></i>
				</div>
			</div>
			<div class="padding15-horizontal">
				<div class="horizontal_line"></div>
			</div>	
			<a href="#/app/saleRecord" class="my_item ub">
				<div class="my_itemName">我的销售记录</div>
				<div class="ub ub-f1 ub-pe">
					<i class="icon ion-ios-arrow-right fs20 Dark"></i>
				</div>
			</a>
			<div class="padding15-horizontal">
				<div class="horizontal_line"></div>
			</div>			
			
			<a href="#/app/orderRecord" class="my_item ub">
				<div class="my_itemName">我的预约记录</div>
				<div class="ub ub-f1 ub-pe">
					<i class="icon ion-ios-arrow-right fs20 Dark"></i>
				</div>
			</a>
		</div>
        <!--客户角色-->
		<a href="#app/plannerCertif" class="my_itemGroup margin-top block">
			<div class="my_item ub">
				<div class="my_itemName">申请理财师认证</div>
				<div class="ub ub-f1 ub-pe">
					<i class="icon ion-ios-arrow-right fs20 Dark"></i>
				</div>
			</div>
		</a>
        <!--理财师和渠道角色-->
		<div class="my_itemGroup margin-top">
			<a href="#/app/myCustomer" class="my_item ub">
				<div class="my_itemName">我的客户</div>
				<div class="ub ub-f1 ub-pe">
					<i class="icon ion-ios-arrow-right fs20 Dark"></i>
				</div>
			</a>
			<div class="padding15-horizontal">
				<div class="horizontal_line"></div>
			</div>
			<a href="#/app/myTeam" class="my_item ub">
				<div class="my_itemName">我的理财师团队</div>
				<div class="ub ub-f1 ub-pe">
					<i class="icon ion-ios-arrow-right fs20 Dark"></i>
				</div>
			</a>
			<div class="padding15-horizontal">
				<div class="horizontal_line"></div>
			</div>
			<a href="#/app/inviteCustomer" class="my_item ub">
				<div class="my_itemName">邀请客户</div>
				<div class="ub ub-f1 ub-pe">
					<i class="icon ion-ios-arrow-right fs20 Dark"></i>
				</div>
			</a>
			<div class="padding15-horizontal">
				<div class="horizontal_line"></div>
			</div>
			<a href="#/app/invitePlanner" class="my_item ub">
				<div class="my_itemName">邀请理财师</div>
				<div class="ub ub-f1 ub-pe">
					<i class="icon ion-ios-arrow-right fs20 Dark"></i>
				</div>
			</a>
		</div>

		<a href="#/app/helpCenter" class="my_item margin15-top ub">
			<div class="my_itemName">帮助中心</div>
			<div class="ub ub-f1 ub-pe">
				<i class="icon ion-ios-arrow-right fs20 Dark"></i>
			</div>
		</a>

		<a href="#/app/myAbout" class="my_item margin15-vertical ub">
			<div class="my_itemName">关于我们</div>
			<div class="ub ub-f1 ub-pe">
				<i class="icon ion-ios-arrow-right fs20 Dark"></i>
			</div>
		</a>

	</ion-content>
</ion-view>
<script type="text/ng-template" id="myPlanner.html">
		<div class="item item-avatar" style="background: transparent;border:none">
			<img src="./img/find/charge_right.png">
			<div class="ub">
				<div class="ub ub-ver">
					<h2 class="fs14 margin-bottom"><span>刘茜</span></h2>
					<p class="fs12 sub-ft">高级理财规划师</p>
				</div>
			</div>
		</div>    
		<p class="padding">四川大学管理学硕士，行愿咨询工作室合伙人，累计管理资产2亿。</p>
</script>