<ion-view view-title="我的客户" hide-tabs="true" hide-nav-bar="false">
    <ion-content class="bg-grey">
    	<div class="record_total bg-grey">
    		共31名客户
    	</div>
    	<div class="mc_searchBox">
		  <label class="item item-input bg-grey">
		    <i class="icon ion-search placeholder-icon fs18"></i>
		    <input type="text" placeholder="输入姓名或手机号搜索">
		  </label>
    	</div>
     	<div class="record_total bg-grey">
    		B
    	</div>  
    	<a class="mc_list" href="#/app/customerDetails">
			<div class="item item-avatar mc_shadow">
			    <img src="./img/find/charge_right.png">
			    <h2 class="fs14 margin-bottom"><span>BoBo</span><span class="mc_phone sub-ft">13488888888</span></h2>
			    <p class="fs12">两次预约购买</p>
			</div> 
			<div class="item item-avatar margin-top mc_shadow">
			    <img src="./img/find/charge_right.png">
			    <h2 class="fs14 margin-bottom"><span>BoBo</span><span class="mc_phone sub-ft">13488888888</span></h2>
			    <p class="fs12">两次预约购买</p>
			</div>      		
    	</a>
     	<div class="record_total bg-grey">
    		C
    	</div>  
    	<div class="mc_list">
			<div class="item item-avatar mc_shadow">
			    <img src="./img/find/charge_right.png">
			    <h2 class="fs14 margin-bottom"><span>陈小明</span><span class="mc_phone sub-ft">13488888888</span></h2>
			    <p class="fs12">两次预约购买</p>
			</div> 
			<div class="item item-avatar margin-top mc_shadow">
			    <img src="./img/find/charge_right.png">
			    <h2 class="fs14 margin-bottom"><span>陈晨</span><span class="mc_phone sub-ft">13488888888</span></h2>
			    <p class="fs12">两次预约购买</p>
			</div>      		
    	</div>
    </ion-content>
</ion-view>