<ion-view view-title="我的理财师团队" hide-tabs="true" hide-nav-bar="true">
	<ion-content class="bg-grey" style="bottom:47px">
		<div class="mc_searchBox">
			<label class="item item-input bg-grey">
		    <i class="icon ion-search placeholder-icon fs18"></i>
		    <input type="text" placeholder="输入姓名或手机号搜索">
		  </label>
		</div>
		<div class="myTeam_totalBox padding15-vertical row row-no-padding">
			<div class="col col-center text-center border2-right">
				<div class="white fs15">25人</div>
				<div class="fs12 padding5-vertical">总成员数</div>
			</div>
			<div class="col col-center text-center">
				<h5 class="white fs14">直接下级理财师5人</h5>
				<h5 class="white fs14">间接下级理财师25人</h5>
			</div>
		</div>
		<div class="padding bg-grey vm">
			<img width="8" src="./img/home/circle_blue.png" />
			<span class="hotPro_title fs13">直接下级理财师</span>
		</div>
		<div class="mc_list">
			<a href="#/app/saleRecord" class="item item-avatar mc_shadow">
				<img src="./img/find/charge_right.png">
				<div class="ub">
					<div class="ub ub-ver">
						<h2 class="fs14 margin-bottom"><span>BoBo</span><span class="mc_phone sub-ft">13488888888</span></h2>
						<p class="fs12 sub-ft">下级理财师：21人</p>
					</div>
					<div class="ub ub-f1 vm ub-ac ub-pe">
						<span class="fs13 margin-right">销售记录</span>
						<i class="ion-ios-arrow-right"></i>
					</div>
				</div>
			</a>
			<a href="#/app/saleRecord" class="item item-avatar mc_shadow margin-top">
				<img src="./img/find/charge_right.png">
				<div class="ub">
					<div class="ub ub-ver">
						<h2 class="fs14 margin-bottom"><span>BoBo</span><span class="mc_phone sub-ft">13488888888</span></h2>
						<p class="fs12 sub-ft">下级理财师：21人</p>
					</div>
					<div class="ub ub-f1 vm ub-ac ub-pe">
						<span class="fs13 margin-right">销售记录</span>
						<i class="ion-ios-arrow-right"></i>
					</div>
				</div>
			</a>
			<a href="#/app/saleRecord" class="item item-avatar mc_shadow margin-top">
				<img src="./img/find/charge_right.png">
				<div class="ub">
					<div class="ub ub-ver">
						<h2 class="fs14 margin-bottom"><span>BoBo</span><span class="mc_phone sub-ft">13488888888</span></h2>
						<p class="fs12 sub-ft">下级理财师：21人</p>
					</div>
					<div class="ub ub-f1 vm ub-ac ub-pe">
						<span class="fs13 margin-right">销售记录</span>
						<i class="ion-ios-arrow-right"></i>
					</div>
				</div>
			</a>
		</div>
	</ion-content>
    <a href="#app/invitePlanner" class="button linearRight full-image fs14" style="position: absolute;bottom: 0px;">邀请理财师</a>   
</ion-view>