<ion-view view-title="预约记录" hide-tabs="true" hide-nav-bar="true">
    <ion-content class="bg-grey">
    	<div class="record_total bg-grey">
    		共三笔预约记录
    	</div>
    	<div class="collaspeItem bg-white">
    	  <div class="collaspeHeader ub ub-ac" >
    	  	<div class="time">2017年3月</div>
    	  	<div class="total sub-ft fs12">共2笔预约记录</div>
    	  	<div class="ub ub-f1 ub-ac ub-pe">
    	  	<i class="ion-chevron-up"></i>
    	  	</div>
    	  </div>
    	  
    	  <div class="orderItem">
    	  	<div class="ub ub-pc">
    	  		<div class="ub-f1">预约购买</div>
    	  		<div class="sub-ft fs12">2017-12-12 15:30</div>
    	  	</div>
    	  	<div class="ub ub-pc margin-top">
    	  		<div class="ub-f1">
    	  			<div class="fs12">购买产品：《平安宝宝少儿综合医疗保险》</div>
    	  			<div class="fs12">购买金额：1000元</div>
    	  		</div>
    	  		<div class="sub-ft fs12">
    	  			<img width="63" height="48" src="./img/my/yishouli.png"/>
    	  		</div>
    	  	</div>
    	  </div>
    	  
    	  <div class="orderItem">
    	  	<div class="ub ub-pc">
    	  		<div class="ub-f1">预约购买</div>
    	  		<div class="sub-ft fs12">2017-12-12 15:30</div>
    	  	</div>
    	  	<div class="ub ub-pc margin-top">
    	  		<div class="ub-f1">
    	  			<div class="fs12">购买产品：《平安宝宝少儿综合医疗保险》</div>
    	  			<div class="fs12">购买金额：1000元</div>
    	  		</div>
    	  		<div class="sub-ft fs12">
    	  			<img width="63" height="48" src="./img/my/yiwancheng.png"/>
    	  		</div>
    	  	</div>
    	  </div>    	  
    	</div>   	

    	<div class="collaspeItem bg-white margin-top">
    	  <div class="collaspeHeader ub ub-ac">
    	  	<div class="time">2017年1月</div>
    	  	<div class="total sub-ft fs12">共两1笔预约记录</div>
    	  	<div class="ub ub-f1 ub-ac ub-pe">
    	  	<i class="ion-chevron-down"></i>
    	  	</div>
    	  </div>
        </div>

    </ion-content>
</ion-view>