<ion-view view-title="个人中心" hide-tabs="true" hide-nav-bar="true">
	<ion-content class="bg-grey" style="bottom:47px">
		<div class="mc_list srCard">
			<div class="item item-avatar">
				<img src="./img/my/portrait.png">
				<div class="ub" style="height: 46px;">
					<div class="ub ub-f1 vm ub-ac ub-pe Dark">
						<span class="fs13 margin-right sub-ft">点击更换头像</span>
						<i class="ion-ios-arrow-right"></i>
					</div>
				</div>
			</div>
			<div class="item border-bottom ub Dark">
				<div class="">昵称</div>
				<div class="ub ub-f1 vm ub-pe">
					<span class="margin-right">Nico</span>
					<i class="ion-ios-arrow-right"></i>
			    </div>
			</div>
			<div class="item border-bottom ub Dark">
				<div class="">理财师等级</div>
				<div class="ub ub-f1 vm ub-pe">
					<span class="margin-right">理财经理</span>
					<i class="ion-ios-arrow-right"></i>
			    </div>
			</div>
			<a href="#/app/bindCard" class="item border-bottom ub Dark">
				<div class="">银行卡管理</div>
				<div class="ub ub-f1 vm ub-pe">
					<span class="margin-right">未绑定</span>
					<i class="ion-ios-arrow-right"></i>
			    </div>
			</a>
		</div>
	</ion-content>
</ion-view>