<ion-view view-title="理财知识" hide-tabs="true" hide-nav-bar="true" >
    <ion-content scroll="true" lazy-scroll>
         <div class="srCard padding relative" ng-click="goFncList()">
         	<img class="full-image" src="./img/home/licaizhishi.png"/>
         	<div class="textCenterImg">买保险你需要知道的那些儿事</div>
         </div>
         <div class="srCard padding relative">
         	<img class="full-image" src="./img/home/licaizhishi.png"/>
         	<div class="textCenterImg">买保险你需要知道的那些儿事</div>
         </div>
         <div class="srCard padding relative">
         	<img class="full-image" src="./img/home/licaizhishi.png"/>
         	<div class="textCenterImg">买保险你需要知道的那些儿事</div>
         </div>
    </ion-content>
</ion-view>
