<ion-view view-title="派单管理" hide-tabs="false">
		<ion-nav-buttons side="right">
		<a class="button button-clear button-light white fs14" href="#/app/sendHistory">
                                    历史记录
        </a>
	</ion-nav-buttons>
<ion-content scroll="true" lazy-scroll>
		<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="加载中..."></ion-refresher>
		<div class="list">
			<div class="item card" bindonce ng-repeat="item in stayInterviewsList">
				<div class="sub-ft fs14 padding-vertical border-bottom" bo-text="item.createTime | date:'yyyy-MM-dd'"></div>
		    	<div class="ub row-no-padding padding-vertical border-bottom">
		    		<div class="col col-40 bold no-ellipsis" bo-text="item.personName"></div>
		    		<div class="col col-60 bold text-right no-ellipsis" bo-text="item.factoryName"></div>
		    	</div>				
				<div class="row row-no-padding row-center padding-vertical">
					<div class="col">
						<span class="sub-ft fs14 icon ion-person"></span>
						 <span class="fs14">{{item.saleName+'   '}}</span>
						 <a class="yellow" href="tel:{{item.salePhone}}"><span class="fs16">{{item.salePhone}}</span></a>
					</div>
					<button ng-click="showPopup(item.idPerson,item.factoryId)" class="button radius-button">派单</button>
				</div>
			</div>
		</div>
		<no-data ng-show="stayInterviewsList.length==0?true:false"></no-data>
		<ion-infinite-scroll ng-if="more" icon="ion-loading-c" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
<script type="text/ng-template" id="ModelContent.html">
	<div class="list">
		<label class="item item-input item-select">
		    <div class="input-label">
		       接单人
		    </div>
		    <select ng-model="salesModel.saleId" ng-options="item.saleId as item.name for item in salesList">
		    	<option value="">请选择</option>
		    </select>
       </label>
	</div>
	<textarea rows="4" ng-model="salesModel.remark" placeholder="请输入备注..."></textarea>
</script>