<ion-view view-title="附件上传" hide-tabs="true">
	<ion-content scroll="true" padding="true" lazy-scroll>
		<div class="fs14 padding" ><span class="bold">身份证图片</span>&nbsp;&nbsp;
			<i tooltips tooltip-side="bottom" tooltip-size="large" tooltip-close-button="true" tooltip-show-trigger="touchstart"  tooltip-template="身份证正面照、反面照、手持身份证各一张，字体清晰可辨认，身份证需在有限期内。"  class="icon ion-help-circled  fs18 " style="color:#00ADB2;">&nbsp;&nbsp;<span class="fs13">（必选）</span></i>
		</div>
		<div class="padding row">
			<div class="col ub-ver col-50 padding" ng-click="showActionSheet('identFront',null,800,800,-1)">
				<div class="ub image-box ub-ac ub-pc full-image">
			    	<img id="identFront" lazy-src="{{(customerModel.identFrontFS=='' || customerModel.identFrontFS==null || customerModel.identFrontFS.indexOf('null')>=0)?customerModel.identFront:customerModel.identFrontFS}}" err-src="./img/agent/front.png"/>
			    	<div class="shadow ub ub-pc ub-ac">
					<i class="icon ion-android-add sub-ft rem2 text-center"></i>
			    	</div>
				</div>
				<div class="padding-top text-center sub-ft fs12">身份证正面照片</div>
			</div>	
			<div class="col ub-ver col-50 padding" ng-click="showActionSheet('identBack',null,800,800,-1)">
				<div class="ub image-box ub-ac ub-pc full-image">
			    	<img id="identBack" lazy-src="{{(customerModel.identBackFS=='' || customerModel.identBackFS==null || customerModel.identBackFS.indexOf('null')>=0)?customerModel.identBack:customerModel.identBackFS}}" err-src="./img/agent/reverse.png"/>
			    	<div class="shadow ub ub-pc ub-ac">
					<i class="icon ion-android-add sub-ft rem2 text-center"></i>
			    	</div>
				</div>
				<div class="padding-top text-center sub-ft fs12">身份证反面照片</div>
			</div>
		</div>
		<div class="fs14 padding" ><span class="bold">销售与客户的合照</span>&nbsp;&nbsp;
			<i tooltips tooltip-side="bottom" tooltip-size="large" tooltip-close-button="true" tooltip-show-trigger="touchstart"  tooltip-template=""  class="icon ion-help-circled  fs18 " style="color:#00ADB2;">&nbsp;&nbsp;<span class="fs13">（必选）</span></i>
		</div>
		<div class="padding row row-wrap">
			<div class="col ub-ver col-50 padding" ng-click="showActionSheet('groupPhoto',null,800,800,-1)">
				<div class="ub image-box ub-ac ub-pc full-image">
			    	<img id="groupPhoto" lazy-src="{{(customerModel.groupPhotoFS=='' || customerModel.groupPhotoFS==null || customerModel.groupPhotoFS.indexOf('null')>=0)?customerModel.groupPhoto:customerModel.groupPhotoFS}}" err-src="./img/agent/group.png"/>
			    	<div class="shadow ub ub-pc ub-ac">
					<i class="icon ion-android-add sub-ft rem2 text-center"></i>
			    	</div>
				</div>
				<div class="padding-top text-center sub-ft fs12">销售与客户的合照</div>
			</div>				
		</div>	
		<div class="fs14 padding" ><span class="bold ft">工作证明文件 或 第二证明文件</span><span class="fs12 ft">（二选一）</span></div>
		<div class="padding"><span class="bold fs14">工作证明文件</span>&nbsp;&nbsp;<i tooltips tooltip-side="bottom" tooltip-size="large" tooltip-close-button="true" tooltip-show-trigger="touchstart"  tooltip-template="如无法提供工牌，可提供代理人劳动合同或工资银行流水（二选一）"  class="icon ion-help-circled  fs18 " style="color:#00ADB2;">&nbsp;&nbsp;<span class="fs13"></span></i></div>
		<div class="fs12 padding-horizontal sub-ft">包含：工牌或劳动合同（二选一）</div>
		<div class="padding row row-wrap">
			<div class="col col-50 ub-ver relative padding" ng-repeat="item in workProve">
				<div class="ub image-box ub-ac ub-pc full-image" ng-click="showActionSheet('workProve',workProve,800,800,$index)">
			    	<img ng-src="{{(item.fsPathUrl=='' || item.fsPathUrl==null || item.fsPathUrl.indexOf('null')>=0)?item.imgUrl:item.fsPathUrl}}" err-src=""/>
			    </div>	
			   <i class="ion-close-circled ft deleIcon" ng-click="deleImage(workProve,$index)"></i>
			</div>		
			<div class="col col-50 ub-ver padding" ng-click="showActionSheet('workProve',workProve,800,800,-2)">
				<div class="ub image-box ub-ac ub-pc full-image">
			    	<!--<img id="workCardFront" lazy-src="{{agentModel.attachment.workCardFront}}" src="" err-src=""/>--> 
					<i class="icon ion-android-add sub-ft rem2 text-center"></i>
			   </div>	
			   <div class="padding-top text-center sub-ft fs12">最多可添加10张</div>
			</div>				
		</div>
		<div class="fs14 padding"><span class="bold">第二证明文件</span>&nbsp;&nbsp;<i tooltips tooltip-side="bottom" tooltip-size="large" tooltip-close-button="true" tooltip-show-trigger="touchstart"  tooltip-template="1）第二证明文件为社保或公积金缴纳记录截图/照片或工资银行流水或人行征信报告（四选一，优先选择前面两种）；<br>
2）社保缴纳记录截图或照片，可通过社保局官网、到当地社保局查询打印、支付宝、微信等渠道查询，

截图或照片须清晰完整显示社保账号、缴存单位、缴存状态、缴存明细、姓名、身份证号码，

如提供的是社保局出具的纸质社保缴费证明的图片，必须加盖社保局公章；<br>

3）公积金缴纳记录截图或照片，可通过公积金官网、支付宝、微信等渠道获取，
须清晰完整显示公积金账号、缴存单位、缴存状态、缴存明细、姓名、身份证号码，

如提供的是公积金出具的纸质缴费证明的图片，必须加盖公积金管理局公章；<br>

4）工资流水为近六个月工资银行流水，须清晰显示银行账号，户名，查询起止日期，近六个月进出账的明细，必须加盖银行公章；<br>

5）如无法提供上述两种资料，可提供人行征信报告，报告必须清晰完整，且有显示在职单位并且单位名称与工厂名称一致。"  class="icon ion-help-circled  fs18 " style="color:#00ADB2;">&nbsp;&nbsp;<span class="fs13"></span></i></div>
		<div class="fs12 padding-horizontal sub-ft">包含：社保或公积金缴纳记录截图/照片或工资银行流水或人行征信报告（四选一，优先选择前面两种）；</div>
		<div class="padding row row-wrap">
			<div class="col col-50 ub-ver relative padding" ng-repeat="item in secondProve">
				<div class="ub image-box ub-ac ub-pc full-image" ng-click="showActionSheet('secondProve',secondProve,800,800,$index)">
			    	<img ng-src="{{(item.fsPathUrl=='' || item.fsPathUrl==null || item.fsPathUrl.indexOf('null')>=0)?item.imgUrl:item.fsPathUrl}}" err-src=""/>
			    </div>	
			   <i class="ion-close-circled ft deleIcon" ng-click="deleImage(secondProve,$index)"></i>
			</div>				
			<div class="col col-50 ub-ver padding" ng-click="showActionSheet('secondProve',secondProve,800,800,-2)">
				<div class="ub image-box ub-ac ub-pc full-image">
					<i class="icon ion-android-add sub-ft rem2 text-center"></i>
			    </div>		
		        <div class="padding-top text-center sub-ft fs12">最多可添加10张</div>
			</div>			
		</div>	
		<div class="padding"><span class="bold fs14">其他证明文件</span>&nbsp;&nbsp;<i tooltips tooltip-side="bottom" tooltip-close-button="true" tooltip-show-trigger="touchstart"  tooltip-size="large" tooltip-template="如无法提供社保网截图，可提供公积金缴纳记录截图或者人行的征信报告" class="icon ion-help-circled  fs18 " style="color:#00ADB2;"></i></div>
		<div class="padding-horizontal fs12 sub-ft">包含：银行卡、社保卡、公积金卡、居住证、房产证等能证明个人身份的照片。</div>
		<div class="padding row row-wrap">
			<div class="col col-50 ub-ver relative padding" ng-repeat="item in otherProve">
				<div class="ub image-box ub-ac ub-pc full-image" ng-click="showActionSheet('otherProve',otherProve,800,800,$index)">
			    	<img ng-src="{{(item.fsPathUrl=='' || item.fsPathUrl==null || item.fsPathUrl.indexOf('null')>=0)?item.imgUrl:item.fsPathUrl}}" err-src=""/>
			    </div>	
			   <i class="ion-close-circled ft deleIcon" ng-click="deleImage(otherProve,$index)"></i>
			</div>				
			<div class="col col-50 ub-ver padding" ng-click="showActionSheet('otherProve',otherProve,800,800,-2)">
				<div class="ub image-box ub-ac ub-pc full-image">
					<i class="icon ion-android-add sub-ft rem2 text-center"></i>
			    </div>
		        <div class="padding-top text-center sub-ft fs12">最多可添加10张</div>
			</div>
		</div>		
		<div class="padding">
			<button class="button button-block button-assertive" ng-click="addRemark()">提交</button>
		</div>		
	</ion-content>
</ion-view>
<script type="text/ng-template" id="remark.html">
	<textarea rows="8" ng-model="customerModel.remark" placeholder="请输入备注...(可不填)"></textarea>
</script>