<ion-view view-title="行业资讯" hide-tabs="true" hide-nav-bar="false" hide-back-button="false">
    <ion-content scroll="true" lazy-scroll>
        <div class="padding">
        	<div class="row newsItem row-no-padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="horizontal_line padding-bottom"></div>
        	<div class="row newsItem row-no-padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        	<div class="horizontal_line padding-bottom"></div>
        	<div class="row newsItem row-no-padding" ng-click="goNewsDetails()">
        		<div>
        			<img width="92" height="92" src="./img/home/newsItem.png"/>
        		</div>
        		<div class="col padding15-left relative">
        			<p class="news_title">受益业务调整，银行代销保险手续费激增</p>
        			<div class="fs12 news_time">2017-5-20 14:00</div>
        		</div>
        	</div>
        </div>    	
    </ion-content>
</ion-view>
