<ion-view view-title="{{newsDetails.title}}" hide-tabs="true" hide-nav-bar="true">
    <ion-content style="padding: 25px;">
    	<p ng-bind="newsDetails.title"></p>
    	<p class="sub-ft" ng-bind="newsDetails.publishTime |date:'yyyy:MM:dd HH:mm'"></p>
    	<!--<img class="full-image" height="134" src="./img/home/newsDetails.png"/>
    	<div class="horizontal_line margin-top"></div>
    	<p class="margin-top fs12">内容内容内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>-->
    	<p id="content" class="editorContent">
    		
    	</p>
    </ion-content>
</ion-view>