<ion-view view-title="少儿学生医疗保障计划" hide-tabs="true" hide-nav-bar="false">
    <ion-content scroll="true" lazy-scroll>
          <img class="full-image" src="./../img/home/loveChildren.png"/>
          <div class="prodInfoBox row row-no-padding row-center">
          	<div class="col col-70">
          	    <div>少儿学生医疗保障计划</div>
          		<div class="fs12 sub-ft ellipsis2">专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
                                    让你的小孩成长无忧！</div>
          	</div>
          	<div class="col col-30 text-right">
          		<img width="75%" src="./../img/home/loveChildren.png"/>
          	</div>
          </div>
          <div class="card-shadow padding-horizontal padding15-vertical margin-top">
	         <div class="vm">
	        	<img width="8" src="./img/home/circle_blue.png"/>
	        	<span class="hotPro_title">产品详情</span>
	         </div>     
	         <div class="padding sub-ft">
	         	专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
                                    让你的小孩成长无忧！
	         </div>
	         
	         <div class="vm">
	        	<img width="8" src="./img/home/circle_blue.png"/>
	        	<span class="hotPro_title">产品文档</span>
	         </div>
	         <div class="ub margin-top">
	         	<div class="ub-f1 ub ub-ac ub-ver">
	         		<img width="40" height="40" src="./../img/my/doc.png"/>
	         		<div class="sub-ft">文档1</div>
	         	</div>
	         	<div class="ub-f1 ub ub-ac ub-ver">
	         		<img width="40" height="40" src="./../img/my/doc.png"/>
	         		<div class="sub-ft">文档2</div>
	         	</div>
	         	<div class="ub-f1 ub ub-ac ub-ver">
	         		<img width="40" height="40" src="./../img/my/doc.png"/>
	         		<div class="sub-ft">文档3</div>
	         	</div>
	         </div>
	         
	         <div class="vm">
	        	<img width="8" src="./img/home/circle_blue.png"/>
	        	<span class="hotPro_title">投保案例</span>
	         </div>	 
	         <div class="padding sub-ft" style="height: 80px;overflow: hidden;">
	         	专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
                                    让你的小孩成长无忧！
	         </div>	 
	         <div class="text-center">
	         	<img width="16.5" src="./img/home/xiala.png"/>
	         </div>
          </div>
          <div class="card-shadow padding-horizontal padding15-vertical margin-top">
          	<div class="text-center">为什么选择尚融</div>
	         <div class="padding sub-ft" style="height: 80px;overflow: hidden;">
	         	专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外，
                                    更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面，
                                    让你的小孩成长无忧！
	         </div>	 
	         <div class="text-center">
	         	<img width="16.5" src="./img/home/xiala.png"/>
	         </div>          	
          </div>
          <div class="card-shadow margin-top ub">
          	<div class="ub-f1 ub ub-ac ub-pc padding5 sub-ft" style="border-right:1px solid #cccccc;margin: 4px 0;">
          		理赔指引
          	</div>
          	<div class="ub-f1 ub ub-ac ub-pc padding5 sub-ft" style="margin: 4px 0;">
          		常见问题
          	</div>
          </div>
    </ion-content>
</ion-view>
