<ion-view view-title="少儿学生医疗保障计划" hide-tabs="true" hide-nav-bar="false">
	<ion-content scroll="true" lazy-scroll style="bottom:63px">
		<img class="full-image" src="./../img/home/loveChildren.png" />
		<div class="prodInfoBox row row-no-padding row-center">
			<div class="col col-70">
				<div>少儿学生医疗保障计划</div>
				<div class="fs12 sub-ft ellipsis2">专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外， 更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面， 让你的小孩成长无忧！
				</div>
			</div>
			<div class="col col-30 text-right">
				<img width="75%" src="./../img/home/loveChildren.png" />
			</div>
		</div>
		<div class="card-shadow padding-horizontal padding15-vertical margin-top">
			<div class="vm">
				<img width="8" src="./img/home/circle_blue.png" />
				<span class="hotPro_title">产品详情</span>
			</div>
			<div class="padding sub-ft">
				专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外， 更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面， 让你的小孩成长无忧！
			</div>

			<div class="vm">
				<img width="8" src="./img/home/circle_blue.png" />
				<span class="hotPro_title">产品文档</span>
			</div>
			<div class="ub margin-top">
				<div class="ub-f1 ub ub-ac ub-ver">
					<img width="40" height="40" src="./../img/my/doc.png" />
					<div class="sub-ft">文档1</div>
				</div>
				<div class="ub-f1 ub ub-ac ub-ver">
					<img width="40" height="40" src="./../img/my/doc.png" />
					<div class="sub-ft">文档2</div>
				</div>
				<div class="ub-f1 ub ub-ac ub-ver">
					<img width="40" height="40" src="./../img/my/doc.png" />
					<div class="sub-ft">文档3</div>
				</div>
			</div>

			<div class="vm">
				<img width="8" src="./img/home/circle_blue.png" />
				<span class="hotPro_title">投保案例</span>
			</div>
			<div class="padding sub-ft" style="height: 80px;overflow: hidden;">
				专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外， 更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面， 让你的小孩成长无忧！
			</div>
			<div class="text-center">
				<img width="16.5" src="./img/home/xiala.png" />
			</div>
		</div>
		<div class="card-shadow padding-horizontal padding15-vertical margin-top">
			<div class="text-center">为什么选择尚融</div>
			<div class="padding sub-ft" style="height: 80px;overflow: hidden;">
				专为满3-18岁儿童提供身故、交通意外、重疾、住院医疗等保障外， 更有儿童绑架津贴和儿童公共场所个人责任，人性化设计、保障全面， 让你的小孩成长无忧！
			</div>
			<div class="text-center">
				<img width="16.5" src="./img/home/xiala.png" />
			</div>
		</div>
		<div class="card-shadow margin-top ub">
			<div class="ub-f1 ub ub-ac ub-pc padding5 sub-ft" style="border-right:1px solid #cccccc;margin: 4px 0;">
				理赔指引
			</div>
			<div class="ub-f1 ub ub-ac ub-pc padding5 sub-ft" style="margin: 4px 0;">
				常见问题
			</div>
		</div>
	</ion-content>
	<div class="ub full-image" style="position: absolute;bottom:0px">
		<div ng-click="showCall()" class="ub-f1 ub ub-ac ub-pc ub-ver padding5-vertical" style="width: 31%;">
			<img width="20" height="20" src="./img/home/productKefu.png" />
			<div class="fs12 ft">在线客服</div>
		</div>
		<div ng-click="showBuy()" class="ub-f1 buy_linear ub ub-ac ub-pc ub-ver" style="width: 69%;">
			<img width="20" src="./img/home/buyCar.png" />
			<div class="white fs12">预约购买</div>
		</div>
	</div>
</ion-view>
<script type="text/ng-template" id="call.html">
	<div class="text-center">
		<p style="margin: 25px 0;">确定拨打电话:400-888-6987?</p>
		<div class="sub-ft fs12" style="margin-bottom: 25px;">服务时间：工作日 9:00-12:00 13:30-18:00</div>
	</div>
</script>
<script type="text/ng-template" id="buy.html">
	<div class="row margin-bottom">
		<div class="ub ub-ac ub-pc col-25 login-text sub-ft">
			姓名
		</div>
		<div class="ub col-70 border-bottom">
			<input class="full-image buy-input" type="text" placeholder="" ng-model="user.name">
		</div>
	</div>
	  <div class="item item-input item-select" style="background-color:transparent ;border: none;" data-tap-disabled="true">
	    <div class="input-label fs14 text-center sub-ft" style="width: 22%;">
	      性别
	    </div>
	    <select style="background: transparent;">
	      <option selected>男</option>
	      <option>女</option>
	    </select>
	  </div>	
	<div class="row margin-bottom">
		<div class="ub ub-ac ub-pc col-25 login-text sub-ft">
			手机号码
		</div>
		<div class="ub col-70 border-bottom">
			<input class="full-image buy-input" type="tel" placeholder="" ng-model="user.phone">
		</div>
	</div>
</script>