<ion-view view-title="全部产品" hide-tabs="true" hide-nav-bar="true">
	<div class="tabs-top tabs-default bg-grey">
		<div class="tabs" style="top:0px">
			<a class="tab-item active" ng-click="seachByStatus('1')"  >
				<div class="tab-pill">
				         保险类					
				</div>
			</a>
			<a class="tab-item" ng-click="seachByStatus('2')" >
				<div class="tab-pill">
				         投融类					
				</div>
			</a>
			<a class="tab-item"  ng-click="seachByStatus('3')" >
				<div class="tab-pill">
				         其他类					
				</div>
			</a>
		</div>
	</div>	
    <ion-content class="has-tabs-top" scroll="true" lazy-scroll>
    	<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="加载中..." spinner="dots"></ion-refresher>
        <div class="srCard padding" ng-click="getProductDels(item.pid)" ng-repeat="item in productList">
            <img class="hotPro_bannerImg" ng-src="{{'http://'+item.detailTopUrl}}" width="100%"/>
            <div>
                <div class="hotPro_itemTitle" ng-bind="item.productName"></div>
                <p class="hotPro_discrible ellipsis" ng-bind="item.description">
                </p>
            </div>
        </div>
        <ion-infinite-scroll ng-if="more" on-infinite="loadMore()" distance="5%" icon="ion-loading-d" immediate-check="false"></ion-infinite-scroll>  
    </ion-content>
</ion-view>
