<ion-view view-title="{{roleId=='WSA'?'转单管理':'派单管理'}}" hide-tabs="false">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-light white fs14" href="#/app/history">
                                    历史记录
        </a>
	</ion-nav-buttons>
	<ion-content scroll="true" lazy-scroll>
		<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="加载中..." spinner="dots"></ion-refresher>
		<div class="list">
			<div class="item card" bindonce ng-repeat="item in singlesList">
				<div class="sub-ft fs14 padding-vertical border-bottom" bo-text="item.createTime | date:'yyyy-MM-dd'"></div>
				<div class="row row-no-padding padding-vertical border-bottom">
					<div class="col col-40 bold no-ellipsis" bo-text="item.name"></div>
					<div class="col col-60 bold text-right no-ellipsis" bo-text="item.factoryName"></div>
				</div>
				<div class="ub row-no-padding row-center padding-vertical">
					<div class="col assertive vm" ng-click="callPhone(item.phone)">
						<a class="yellow" href="tel:{{item.phone}}"><i class="ion-ios-telephone-outline fs24"></i><span class="fs18" bo-text="item.phone"></span></a>
					</div>
					<button ng-click="showPopup(item.idPerson,item.factoryId)" class="button radius-button">转单</button>
				</div>
			</div>
		</div>
		<no-data ng-show="singlesList.length==0?true:false"></no-data>
		<ion-infinite-scroll ng-if="more" on-infinite="loadMore()" immediate-check="false" distance="1%" spinner="dots"></ion-infinite-scroll>
	</ion-content>
</ion-view>
<script type="text/ng-template" id="ModelContent.html">
	<div class="list">
		<label class="item item-input item-select">
		    <div class="input-label">
		                    转单人
		    </div>
		    <select ng-model="salesModel.saleId" ng-options="item.saleId as item.name for item in salesList">
		    	<option value="">请选择</option>
		    </select>
       </label>
	</div>
	<textarea rows="6" ng-model="salesModel.remark" placeholder="请输入备注..."></textarea>
</script>