<ion-view view-title="激活码" hide-tabs="true">
	<ion-nav-buttons side="right">
      <a class="button button-clear button-light fs14 white" href="#"></a>
	</ion-nav-buttons>
		<ion-content class="bg-default" scroll="true" lazy-scroll>
			<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="加载中..." spinner="dots"></ion-refresher>
	          <div class="qrBox">
	          	<div class="qrTitle">
	          		代理人 {{agentName}} 的激活二维码
	          	</div>
	          	<div class="codeBox">
	          		<img src="{{imgCode}}" style="width: 80%;" />
	          	</div>
	          </div>
		</ion-content>
</ion-view>