<ion-view view-title="代理人管理" hide-tabs="true" hide-back-button="true">
	<ion-nav-buttons side="left">
	    <button class="button bg-default" ng-click="goBack()"><i class="icon ion-chevron-left light"></i></button>
	</ion-nav-buttons>	
	<ion-content scroll="true" lazy-scroll>
		<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" spinner="dots"></ion-refresher>
		<div class="list" bindonce ng-repeat="item in wsaByAgents">
			<div class="item card myItem block">
				<div class="ub padding-vertical border-bottom">
					<div class="ub-f1 bold marginTop3" bo-text="item.wagtName"></div>
					<div class="assertive vm"><i class="ion-ios-telephone-outline fs21"></i><a href="tel:{{item.phone}}" class="fs18 yellow" >{{item.phone}}</a></div>
				</div>
				<div class="ub border-bottom padding-vertical">
					<div class="ub-f1 fs36 yellow"><span class="fs12 sub-ft">开发客户:</span><span bo-text="item.recommends">0</span></div>
					<div class="fs36 yellow"><span class="fs12 sub-ft">转介绍客户:</span><span bo-text="item.referrals">0</span></div>
				</div>
				<div class="ub padding-vertical">
					<div class="ub-f1 fs14 ellipsis" bo-text="item.factoryName"></div>
					<a  class="fs12 detailsBtn block" ng-click="goMonths(item.wagtId)">
						每月统计
					</a>	
				</div>
			</div>
		</div>				
		<no-data ng-show="wsaByAgents.length==0?true:false"></no-data>
		<ion-infinite-scroll ng-if="more" on-infinite="loadMore()" immediate-check="false" distance="1%" spinner="dots"></ion-infinite-scroll>
	</ion-content>
</ion-view>