<ion-view view-title="客户代表" hide-tabs="true" hide-back-button="true">
	<ion-nav-buttons side="left">
	    <button class="button bg-default" ng-click="goBack()"><i class="icon ion-chevron-left light"></i></button>
	</ion-nav-buttons>
	<ion-content  scroll="true" lazy-scroll>
	    <ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" spinner="dots"></ion-refresher>
		<div class="list" bindonce ng-repeat="item in dsmBySales">
			<div class="item card myItem block" ng-click="openAgentList(item.saleId)">
				<div class="ub padding-vertical border-bottom">
					<div class="ub-f1 bold marginTop3" ng-bind="item.userName"></div>
					<div class="assertive vm"><i class="ion-ios-telephone-outline fs21"></i><a href="tel:{{item.phone}}" class="fs18 yellow" ng-bind="item.phone"></a></div>
				</div>
				<div class="ub padding-vertical col-center">
					<div class="ub ub-ver ub-pc ub-f1">
						<div class="yellow fs30 padding-vertical" ng-bind="item.agents">0</div>
						<div class="fs12 sub-ft padding5-bottom">代理人数</div>
					</div>
					<div class="ub ub-ver ub-pc ub-f1">
						<div class="yellow fs30 padding-vertical" ng-bind="item.stayInterviews">0</div>
						<div class="fs12 sub-ft padding5-bottom">待面签</div>
					</div>
					<div class="ub ub-ver ub-pc ub-f1">
						<div class="yellow fs30 padding-vertical" ng-bind="item.hasInterviews">0</div>
						<div class="fs12 sub-ft padding5-bottom">已面签</div>
					</div>
					<div class="ub ub-ac"><i class="icon ion-ios-arrow-right fs21 sub-ft"></i></div>
				</div>
			</div>
		</div>			
		<no-data ng-show="dsmBySales.length==0?true:false"></no-data>
		<ion-infinite-scroll ng-if="more" on-infinite="loadMore()" immediate-check="false" distance="1%" spinner="dots"></ion-infinite-scroll>	
	</ion-content>
</ion-view>