<ion-view view-title="工厂列表" hide-tabs="true" hide-back-button="true">
	<ion-nav-buttons side="left">
	    <button class="button bg-default" ng-click="goBack()"><i class="icon ion-chevron-left light"></i></button>
	</ion-nav-buttons>
	<ion-content scroll="true" lazy-scroll>
		<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" spinner="dots"></ion-refresher>
		<div class="list" bindonce ng-repeat="item in factoryList">
			<div class="item card myItem block ub" ng-click="openfactroyBySales(item.factoryId)">
				<div class="ub-f1">
					<div class="ub padding-vertical border-bottom">
						<div class="ub-f1 marginTop3 fs14" ng-bind="item.factoryName"></div>
					</div>
					<div class="ub border-bottom padding-vertical">
						<div class="ub-f1 fs36 yellow"><span class="fs12 sub-ft">客户代表:&nbsp;</span><span ng-bind="item.salesNum">0</span></div>
						<div class="ub-f1 fs36 yellow"><span class="fs12 sub-ft">代理人:&nbsp;</span><span ng-bind="item.agentsNum">0</span></div>
					</div>
					<div class="ub padding-vertical">
						<div class="ub-f1 fs14 ellipsis" ng-bind="item.address"></div>
					</div>
			    </div>
				<div class="ub ub-ac padding-left"><i class="icon ion-ios-arrow-right fs21 sub-ft"></i></div>
			</div>
		</div>			
	</ion-content>
</ion-view>