<ion-view view-title="反馈列表" hide-tabs="true" hide-back-button="false">
	<ion-content overflow-scroll="false" class="bg-grey">
		<ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="加载中..." spinner="dots"></ion-refresher>
		<ion-list class="list-borderless setting-list" bindonce ng-repeat="item in backList">
			<ion-item>
				<div class="row row-no-padding">
					<div class="ft fs14" ng-bind="item.feedTime"></div>
				</div>
				<div class="padding-vertical fs14 no-ellipsis feedText" ng-bind="item.feedback"></div>
				
					<div class="ft fs14 padding5-vertical padding-left" ng-hide="item.reply =='' ">回复：</div>
					<div class="padding5-vertical padding-left fs14 no-ellipsis feedText" ng-bind="item.reply"></div>
					<div class="padding-right fs12 no-ellipsis sub-ft text-right" ng-bind="item.replyTime"></div>
			</ion-item>
		</ion-list>
		<no-data ng-show="backList.length==0?true:false"></no-data>
	</ion-content>
</ion-view>