<ion-view view-title="意见反馈" hide-tabs="true" hide-back-button="false">
    <ion-nav-buttons side="right">
        <a ng-click="goFeedbackList()" class="button bg-default"><span class="light fs16">列表</span></a>
    </ion-nav-buttons>
	<ion-content overflow-scroll="false" class="padding">
     	<textarea class="full-image border" rows="15" placeholder="请输入您的宝贵意见..." ng-model="user.feedback"></textarea>
		<div class="ub ub-ac ub-pc">
		 <button class="button button-block padding5-verticalll button-default fs14" ng-click="addFeedback(user)">提交</button>
		</div>     	
	</ion-content>	
</ion-view>

