<!--<link rel="stylesheet" type="text/css" href="./css/account/login.css" />-->
<ion-view view-title="登录" hide-nav-bar="true">
	<ion-content class="login-color" scroll="false">
		<img class="login-logo" src="./img/account/login-logo.png" />
		<div class="login-form ub ub-ver ub-ac list">
			<div class="login-line"></div>
			<div class="row">
				<div class="ub col-30 login-icon">
					<img src="./img/account/account.png" width="18"/>
				</div>
				<div class="ub col-70">
					<input class="full-image login-input fs13" type="number" placeholder="请输入工号" ng-pattern="/^[0-9]+$/" ng-model="user.userId" />
				</div>
			</div>
			<div class="login-line"></div>
			<div class="row">
				<div class="ub col-30 login-icon">
					<img src="./img/account/password.png" width="16" />
				</div>
				<div class="ub col-70">
					<input class="full-image login-input fs13" type="password" placeholder="请输入密码" ng-model="user.password" />
				</div>
			</div>
			<div class="login-line"></div>
			<div class="padding-top text-right fs12 full-image login-input" ng-click="changePwd()">忘记密码</div>	
			<button class="button button-full button-positive loginButton" ng-click="login(user)">
			                         登  录
			</button>
            <button class="button button-full button-outline button-dafy" ng-click="applyAgent()">
                                                   申请代理人
            </button>	
            <button class="button button-full button-outline button-jindu" ng-click="viewProgress()">
                                                   申请进度
            </button>	
		</div>
	</ion-content>
</ion-view>