<ion-view view-title="个人中心" hide-tabs="false" hide-back-button="true" hide-nav-bar="true">
	<ion-content>
		<div class="ub ub-ver ub-pe ub-img1 account-box padding30">
			<div class="light fs20 padding-bottom" ng-bind="userInfo.userName"></div>
			<div class="light fs20">用户ID:<span ng-bind="userInfo.saleId"></span></div>
		</div>
		<!--客户代表 start-->
		<div class="row">
			<a ng-click="openUrl('app.myInterview','account')" class="ub col ub-ac ub-pc ub-ver" ng-show="userInfo.role =='WSA' ">
				<img src="./img/account/mianqian.png" width="50" />
				<div class="iconTitle">我的面签</div>
			</a>
			<a ng-click="openUrl('app.agentManage','account')" class="ub col ub-ac ub-pc ub-ver" ng-show="userInfo.role =='WSA' ">
				<img src="./img/account/agentManage.png" width="50" />
				<div class="iconTitle">代理人管理</div>
	    	<a>
			<a ng-click="openUrl('app.agentActive',null)" class="ub col ub-ac ub-pc ub-ver" ng-show="userInfo.role =='WSA' ">
				<img src="./img/account/agentActive.png" width="50" />
				<div class="iconTitle">代理人激活</div>
			<a>
			<!--客户代表 end-->
			<!--销售经理 start-->
			<a ng-click="openUrl('app.factoryList','account')" class="ub col ub-ac ub-pc ub-ver" ng-show="userInfo.role =='WDSM'">
				<img src="./img/account/mianqian.png" width="50" />
				<div class="iconTitle">工厂管理</div>
			</a>
			<a ng-click="openUrl('app.dsmBySales','account')" class="ub col ub-ac ub-pc ub-ver" ng-show="userInfo.role =='WDSM'">
				<img src="./img/account/tuijianma.png" width="50" />
				<div class="iconTitle">客户代表</div>
			</a>
			<!--销售经理 end-->
	
			<!--代理人：WAGT start-->
			<a ng-click="openUrl('app.code',null)" class="ub col ub-ac ub-pc ub-ver" ng-if="userInfo.role =='WAGT'">
				<img src="./img/account/myCode.png" width="50" />
				<div class="iconTitle">我的推荐码</div>
			</a>	
			<a ng-click="openUrl('app.agentAward',null)" class="ub col ub-ac ub-pc ub-ver" ng-if="userInfo.role =='WAGT'">
				<img src="./img/account/jiangli.png" width="50" />
				<div class="iconTitle">奖励详情</div>
			</a>			
			<a ng-click="openUrl('app.agentBanks',null)" class="ub col ub-ac ub-pc ub-ver" ng-if="userInfo.role =='WAGT'">
				<img src="./img/account/myBank.png" width="50" />
				<div class="iconTitle">我的银行卡</div>
			</a>
			<!--代理人：WAGT end-->
		</div>
		<div class="row" ng-show="userInfo.role =='WSA' ">
			<a ng-click="openUrl('app.code',null)" class="ub col col-33 ub-ac ub-pc ub-ver" >
						<img src="./img/account/myCode.png" width="50" />
						<div class="iconTitle">推荐码</div>
			</a>
		</div>
		<div class="border-top account-item">
			<a href="#/app/feedback" class="ub ub-ac vm itemDiv">
				<img src="./img/account/feedback.png" width="20" />
				<div class="ub-f1 itemTitle">意见反馈</div>
				<i class="icon ion-ios-arrow-right fs20 sub-ft"></i>
			</a>
			<a href="#/app/updatePassword" class="ub ub-ac vm itemDiv">
				<img src="./img/account/xiugaimima.png" width="18" />
				<div class="ub-f1 itemTitle">修改密码</div>
				<i class="icon ion-ios-arrow-right fs20 sub-ft"></i>
			</a>
			<div class="ub ub-ac vm itemDiv" ng-click="clearAllCache()">
				<img src="./img/account/qingchu.png" width="20" />
				<div class="ub-f1 itemTitle">清除缓存</div>
				<i class="icon ion-ios-arrow-right fs20 sub-ft"></i>
			</div>
			<!-- <div class="ub ub-ac vm itemDiv" ng-click="checkVersion()">
				<img src="./img/account/update.png" width="20" />
				<div class="ub-f1 itemTitle">检查更新(当前版本：{{version}})</div>
				<i class="icon ion-ios-arrow-right fs20 sub-ft"></i>
			</div> -->
		</div>
		<div class="border-top account-item">
			<div class="ub ub-ac vm outDiv" ng-click="exitConfirm()">
				<img src="./img/account/loginOut.png" width="20" />
				<div class="ub-f1 itemTitle">注销登录</div>
				<i class="icon ion-ios-arrow-right fs20 sub-ft"></i>
			</div>
		</div>
		<div style="text-align: center;">
			<span>当前版本：{{version}}</span>
		</div>
	</ion-content>
</ion-view>