@charset "utf-8";
* {
    font-family: "microsoft yahei", arial, sans-serif;
}

/*ionic样式覆盖*/
  /*active时的颜色*/
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, 
ion-tabs.tabs-color-active-positive .tab-item.activated{color:#65cfc9!important;}
.tab-item{opacity: 1!important;}
.tab-item.active .tab-pill,.tab-item.activated .tab-pill{
    width: 70%;
    height: 40px;
    line-height: 40px;
    margin:4.5px 0 0 15%;
    color: #ffffff;
    border-radius: 4px;	
	background: linear-gradient(90deg,#5CE5C1,#66CDCA);
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{border-color:#00ADB2!important;}
.button.button-positive.activated{background-color: #00ADB2!important;}
/*定制尚融的Popup样式*/
.srPopup .popup-buttons{padding: 0px;}
.srPopup.popup-container .popup{width: 92%;}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #00ADB2;
    border-color: #00ADB2;
}
.bar.bar-positive {
    border-color: #00ADB2;
    background-color: #00ADB2;
    background-image: linear-gradient(0deg, #00ADB2, #00ADB2 50%, transparent 50%);
    color: #fff;
}
.item{color:#686868!important}
.row+.row{margin-top:inherit;}
.col-offset-3 {
    margin-left: 3.3%;
}
.col-offset-5 {
    margin-left: 5%;
}
/*模态框设置圆角*/
.popup-container .popup{border-radius: 8px!important;}
.popup-container .popup{}
/*列表圆角阴影*/
.list .card {
    background: #FFFFFF;
    box-shadow: 2px 2px 2px 0px rgba(150,139,139,0.26);
    border-radius: 8px;
    margin: 15px 10px;
}
.srCard{
    background: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(150,139,139,0.26);
    border-radius: 8px;
    margin: 15px 10px;
    overflow: hidden;	
}
/*定位*/
.relative{position:relative;}
/*全局样式*/
a {
  text-decoration: none;
}
/*默认背景颜色*/
.bg-default{
    background-color: #00ADB2!important;
}
/*灰背景*/
.bg-grey{background: #F0F1F5;} 
.bg-white{background-color:#ffffff!important;}
/*字体颜色*/
.ft{
    color: #65cfc9!important;   
}
.Dark{color:#000000!important;}
.red{color:#E74128}
.yellow{color:rgba(242,109,36,1)!important}
.white{color:#ffffff!important}
.sub-ft{color:#9E9E9E!important;}
.bold{font-weight: bold!important;}
/*文本溢出用...*/
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}
/*文本溢出用...*/
.ellipsis2{
overflow:hidden; 
text-overflow:ellipsis;
display:-webkit-box; 
-webkit-box-orient:vertical;
-webkit-line-clamp:2;	
}
.no-ellipsis{white-space: normal!important;}
/*默认按钮*/
.button.button-default,.button.button-positive{
    border-color: transparent;
    background-color: #00ADB2;
    color: #fff;
}
/*渐变按钮*/
.linearRight{
	background: linear-gradient(90deg,#5CE5C1,#66CDCA);
}
/*盒阴影*/
.card-shadow{
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.button-radius{border-radius: 8px;}
/*字与图标对齐*/
.vm *{vertical-align:middle;}
.vm>img{vertical-align:middle;margin-right:3px;}
.vm>i{vertical-align:middle;margin-right:5px;}
.vm>span{vertical-align:middle;margin-right:3px;}
/*间隔*/
.line{width: 100%;height: 14px;background: #EFEFEF;}
.border {border: 1px solid #cccccc;}
.border-vertical{border-bottom:1px solid #cccccc;border-top:1px solid #cccccc;}
.border-top{border-top:1px solid #cccccc;}
.borderTop-none{border-top:none!important;}
.border-none{border-width:inherit;}
.border-bottom{border-bottom:1px solid #cccccc;}
.border-color{border-color:#00ADB2!important}
.border-line{border-bottom:8px solid #EFEFEF!important;}
.border2-right{border-right:2px solid #cccccc}
/*分割线*/
.horizontal_line{
	border-top:1px solid #e6e6e6;
	width: 100%;
}
/*分割虚线*/
.dash_line{
	border-top:1px dashed #e6e6e6;
	width: 100%;
}
/*字体*/
.fs12{font-size: 12px!important;}
.fs13{font-size: 13px!important;}
.fs14{font-size: 14px!important;}
.fs15{font-size: 15px!important;}
.fs16{font-size: 16px!important;}
.fs18{font-size: 18px!important;}
.fs20{font-size: 20px!important;}
.fs21{font-size: 21px!important;}
.fs24{font-size: 24px!important;}
.fs30{font-size: 30px!important;}
.fs36{font-size: 36px!important;}
.em-1{font-size: 0.815em!important;}
.em1{font-size: 1em!important;}
.rem16{font-size: .16rem!important;}
.rem20{font-size: .2rem!important;}
.rem30{font-size: .3rem!important;}
/*缩进*/
.indent2{text-indent: 2em;}
/*行高*/
/*显示,隐藏*/
.visible{visibility: visible;}
.invisible{visibility: hide;}
/*动画*/
.animated5 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
/*ionic样式补充*/
.col-28{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 28%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 28%;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
  max-width: 28%;
}
.col-30{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.col-34{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 34%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 34%;
  -ms-flex: 0 0 34%;
  flex: 0 0 34%;
  max-width: 34%;
}
.col-36{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 36%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 36%;
  -ms-flex: 0 0 36%;
  flex: 0 0 36%;
  max-width: 36%;
}
.col-40{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.col-45{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
}
.col-60{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.col-64{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 64%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 64%;
  -ms-flex: 0 0 64%;
  flex: 0 0 64%;
  max-width: 64%;
}
.col-66{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66%;
  -ms-flex: 0 0 66%;
  flex: 0 0 66%;
  max-width: 66%;
}
.col-70{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.col-72{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 72%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 72%;
  -ms-flex: 0 0 72%;
  flex: 0 0 72%;
  max-width: 72%;
}
.col-100{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
/**
 * Content Padding
 * --------------------------------------------------
 */
.padding5 {
  padding: 5px!important; }

.padding5-top,
.padding5-vertical {
  padding-top: 5px!important; }

.padding5-right,
.padding5-horizontal {
  padding-right: 5px!important; }

.padding5-bottom,
.padding5-vertical {
  padding-bottom: 5px!important; }

.padding5-left,
.padding5-horizontal {
  padding-left: 5px!important; }
/**
 * Content Margin
 * --------------------------------------------------
 */
.margin15 {
  margin: 15px!important; }

.margin15-top,
.margin15-vertical {
  margin-top: 15px!important; }

.margin15-right,
.margin15-horizontal {
  margin-right: 15px!important; }

.margin15-bottom,
.margin15-vertical {
  margin-bottom: 15px!important; }
/**
 * Content Margin
 * --------------------------------------------------
 */
.margin5 {
  margin: 5px!important; }

.margin5-top,
.margin5-vertical {
  margin-top: 5px!important; }

.margin5-right,
.margin5-horizontal {
  margin-right: 5px!important; }

.margin5-bottom,
.margin5-vertical {
  margin-bottom: 5px!important; }

.margin5-left,
.margin5-horizontal {
  margin-left: 5px!important; }
/**
 * Content Margin
 * --------------------------------------------------
 */
.margin {
  margin: 10px!important; }
.margin-top,
.margin-vertical {
  margin-top: 10px!important; }

.margin-right,
.margin-horizontal {
  margin-right: 10px!important; }

.margin-bottom,
.margin-vertical {
  margin-bottom: 10px!important; }

.margin-left,
.margin-horizontal {
  margin-left: 10px!important; }
/**
 * Content Padding15
 * --------------------------------------------------
 */
.padding15 {
  padding: 15px!important; }

.padding15-top,
.padding15-vertical {
  padding-top: 15px!important; }

.padding15-right,
.padding15-horizontal {
  padding-right: 15px!important; }

.padding15-bottom,
.padding15-vertical {
  padding-bottom: 15px!important; }

.padding15-left,
.padding15-horizontal {
  padding-left: 15px!important; }  
/*弹性盒子布局box*/
.ub
{
	display: -webkit-box !important;
	display: box !important;
	position:relative;
}

.ub-rev
{
	-webkit-box-direction:reverse;
	box-direction:reverse;
}

.ub-fh
{
	width:100%;
}

.ub-fv
{
	height:100%;
}

.ub-con
{
	position:absolute;
	width:100%;
	height:100%;
}

.ub-ac
{
	-webkit-box-align:center;
	box-align:center;
}
.ub-ae
{
	-webkit-box-align:end;
	box-align:end;
}

.ub-pc
{
	-webkit-box-pack:center;
	box-pack:center;
}
.ub-pe
{
	-webkit-box-pack:end;
	box-pack:end;
}
.ub-pj
{
	-webkit-box-pack:justify;
	box-pack:justify;
}

.ub-ver
{
	-webkit-box-orient:vertical;
	box-orient:vertical;
}

.ub-f1
{
	position:relative;
	-webkit-box-flex: 1; 
	box-flex: 1;
}

.ub-f2
{
	position:relative;
	-webkit-box-flex: 2;
	box-flex: 2; 
}

.ub-f3
{
	position:relative;
	-webkit-box-flex: 3;
	box-flex: 3;
}

.ub-f4
{
	position:relative;
	-webkit-box-flex: 4;
	box-flex: 4;
}

.ub-img
{
    -webkit-background-size:contain;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.ub-img1
{   
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.ub-img2
{
    background-repeat:repeat-x;
    background-size:auto 100%
}
.ub-img3
{
    background-repeat:repeat-y;
    background-size:100% auto
}

.ub-img4
{
    -webkit-background-size:100% auto;
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:center;
}
.ub-img5
{
    -webkit-background-size:auto 100%;
    background-size:auto 100%;
    background-repeat:no-repeat;
    background-position:center;
}

.ub-img6
{
    background-repeat:no-repeat;
    background-position:center;
}
.ub-img7
{
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}
.ub-ver
{
	-webkit-box-orient:vertical;
	box-orient:vertical;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  width: 100%; }
/*新增css3样式*/
.jc-sb{
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
.jc-center{
	-webkit-justify-content:center;
	justify-content:center;
}
/*控制slide高度为150px*/
.slider-slides{
	height: 150px;
}

/*首页*/
ion-slide img{
	width:100%;
	height: 1.5rem;
}
.home_hotPro{
	margin: 24px 10px 0;
}
.home_hotPro .hotPro_title{
	font-size: 14px;
    color: #19191a;
    /*font-weight: 700;*/
}
.hotPro_bannerImg{
	height: 1.3rem;
}
.hotPro_itemTitle{
	margin: 0px 3px 4px;
	font-size: 13px;
	color: #333333;
}
.hotPro_discrible{
	margin: 0px 3px 0px;
	font-size: 13px;
	color: #999999;
}
.home_moreBtn{
	margin: 0 auto;
	background: linear-gradient(to right,#5CE5C1,#66CDCA);
	color: #ffffff;
	display: block;
}
.newsItem .news_title{
	color: #333333;
	font-size: 14px;
}
.newsItem .news_subTitle{
	color: #999999;
	font-size: 13px;
	margin-top: 5px;
}
.newsItem .news_time{
    color: #999999;
    font-size: 12px;
    position: absolute;
    left: 15px;
    bottom: 6px;
}
.textCenterImg{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz--transform: translate(-50%,-50%);
	color: #feffff;
	font-size: .15rem;
	width: 75%;
	text-align: center;
}
.home_about{
	margin-top: 15px;
}
.home_about .phoneBox{
    padding: 10px 45px;
    margin-top: 10px;
    border-radius: 20px;
    color: #ffffff;
}
.home_about .yewu_round{
    /*background: RGB(100,209,200);*/
   text-align: center;
    /*padding: 20px;
    border-radius: 50%;*/
}
.home_about .yewu_round img{
	width: 20px;
	height: 20px;
}
/*产品详情*/
.prodInfoBox{
	padding: 5px 23px 8px;
	box-shadow: 2px 2px 2px -1px rgba(150,139,139,0.26);
}
.buy-input {
    background-color: transparent;
}
.buy_linear{
	background: linear-gradient(90deg,#FFA633,#FD772E);
}
/*我的*/
.my_header{
	background: linear-gradient(#5CE6C1,#66CBC9);
	height: 170px;
	padding-top:18px;
}
.my_header .my_name,.my_header .my_position{
	padding-top: 10px;
}
.my_count{
	background: #94DBDA;
}
.my_verLine{
	border-left:2px solid #ffffff;
	padding: 3px 0;
}
.my_item{
	background: #ffffff;
	padding:10px 15px;
}
.my_item .my_itemName{
	line-height: 21px;
	color:#333333
}
.myPlannerPopup.popup-container .popup{
	width: 92%;
} 
.myPlannerPopup .popup-buttons .button{
	max-width: 60%;
	margin-left: 20%;
	border-radius: 5px;
}
/*我的预约记录*/
.record_total{
	padding: 12px 25px;
}
.collaspeItem{
	padding:0px 25px;
	box-shadow: 2px 2px 2px -1px rgba(150,139,139,0.26);
}
.collaspeItem .collaspeHeader{
	padding: 10px 0;
}
.collaspeHeader .total{
	margin-left: 43px;
}
.collaspeItem .orderItem{
	border-top: 1px dashed #cccccc;
	padding:15px 0 10px;
}
/*我的客户*/		
 .mc_searchBox{
 	padding: 6px 25px;
 	background-color: #ffffff;
 }   
 .mc_searchBox .item-input{
    border-radius: 30px;
    padding: 4px 0 3px 16px
 }
.mc_phone{
	display: inline-block;
	margin-left: 10px;
}
.mc_shadow{
	box-shadow: 2px 2px 2px -1px rgba(150,139,139,0.5);
}
.mc_searchBox .placeholder-icon:first-child{
	margin-top: 2px;
	margin-right: 10px;
}
/*客户详情*/
.cusDel_header{
	padding:6px 25px;
	background: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.cusDel_header .nameAndId{
	margin-left: 37px;
}
/*我的理财师团队*/
.myTeam_totalBox{
	background: linear-gradient(#5CE6C1,#66CBC9);
}
/*理财师认证*/
.plannerCertifBox .input-label{width: 25%;}

/*帮助中心*/
.help_header{
    background: linear-gradient(#5CE6C1,#66CBC9);
    padding: 35.5px 25px;
}
.help_header .help_time{
	margin-left:22px
}
.help_header img{margin-top: 3px;}
/*销售记录*/
.sale_header{
    background: linear-gradient(#5CE6C1,#66CBC9);
    padding: 30px 25px 37px;
}
.sale_header .riliImg{
	position: absolute;
	right: 25px;
	top:22px;
}
.sale_header .saleTotal{
	margin-top: 20px;
}
.noSaleWarp{
	margin: 100px auto 0;
	text-align: center;
}
